.title {
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 18px;
}

.home_body {
    margin-left: 0px;
    padding: 0px;
    .main_btn {
        background: #4DB821;
        color: #fff;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        font-weight: bold;
        font-size: 14px;
        padding: 15px 10px;
        margin-right: 15px;
        width: 175px;
        border: 1px solid #5d585861;
        outline: none;
    }
    .main_btn:active {
        background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
    }
}

.openall_wrapper {
    padding: 10px 20px;
}

.openall-group {
    position: relative;
    z-index: 2;
    display: flex;
    min-width: 600px;
    height: 55px;
    background-color: #5cfdff;
    border-radius: 7px;
    padding: 4px;
}

.openall-group div:first-of-type {
    border-radius: 4px 0 0 4px;
}

.openall-group>div {
    cursor: pointer;
    flex: 1;
    background-image: linear-gradient(to top, #242424 0%, #04b3ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    transition: 0.2s;
    font-size: 16px;
    box-shadow: inset 0 20px 4px -21px rgba(255, 255, 255, 0.4), 0 19px 13px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.openall-group>div:hover {
    // text-decoration: underline;
    color: greenyellow
}

.body_wrapper {
    height: 530px;
    max-height: 586px;
}

.ctl_container {
    height: auto;
}

.left_col {
    margin-top: 40px;
    padding: 20px 40px;
}

.left_col .form-group {
    margin-bottom: 0px;
}

.right_col {
    margin-top: 20px;
}

.panel_heading {
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #ffffff;
    height: 44px;
    font-size: 16px;
    padding: 15px;
}

.panel_title {
    color: #ffffff;
    font-size: 18px;
}

.panel_body {
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
}


/* for Select */

.correctQues {
    background: #ececda
}

.skipQues {
    background: #e0e09f
}

.select_style {
    width: 100%;
    height: 30px;
}

.left_col .row {
    margin-bottom: 33px;
}

.button {
    background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
    border: none;
    color: #013ad6;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 151px;
}

.ans {
    width: 200px;
}

.que {
    width: 200px;
}

.button:hover,
.add_point:hover {
    background: #4DB821;
}

.add_point {
    font-weight: bold;
}

.load_img {
    position: relative;
    margin-left: -103px;
    margin-top: -10px;
    width: 350px;
    z-index: -100;
}

.btn.disabled,
.btn:disabled {
    opacity: .65;
    background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc) !important;
}

.timer {
    position: absolute;
    top: 57px;
    font-size: 45px;
    text-shadow: 3px 4px 3px #333333;
    color: #FFFFFF;
    width: 135px;
    text-align: center;
}

.timer_style {
    position: absolute;
    top: 57px;
    font-size: 45px;
    color: #F00;
    width: 135px;
    text-align: center;
    text-shadow: 3px 4px 3px #333333;
    font-weight: bold;
}

.point_img {
    position: relative;
    width: 170px;
}

.margin_top2 {
    margin-top: 114px !important
}

.point_text {
    position: absolute;
    // top: 61%;
    font-size: 22px;
    color: #FFFFFF;
    width: 135px;
    margin-left: 20px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    bottom: 612px;
    position: fixed;
}

.player_wrapper {
    margin-top: 30px;
    margin-right: 5px;
}

.player_name {
    color: #41faff;
    font-size: 20px;
    text-align: center;
}

.parallelogram_green {
    width: 100px;
    height: 70px;
    transform: skew(-25deg);
    background: #005e98;
    border: 2px solid #41faff;
    margin-left: 47px;
}

.point {
    transform: skew(25deg);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 20px 17px;
    text-align: center;
}

.add_point_wrapper {
    margin-top: 20px;
    text-align: center;
}

.add_point {
    margin: 0px 20px 0px -12px;
    /*  width: 30px; */
    color: #013ad6;
    font-weight: bold;
    background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
}

.reduce_point {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 20px 0px 8px;
    /*  width: 30px; */
    color: #013ad6;
    font-weight: bold;
    background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
}

.reduce_point:hover {
    background: #4DB821;
}

.pad_right0 {
    .col-sm-2 {
        text-align: right;
    }
}

.adjust {
    padding: 6px 35px;
    color: #013ad6;
    font-weight: bold;
    background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
    margin-right: 5%;
    width: 90px;
}

.adjust:hover {
    background: #4DB821;
}

.adjustMin {
    padding: 6px 35px;
    color: #013ad6;
    font-weight: bold;
    background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
    margin-right: -5%;
    width: 90px;
}

.adjustMin:hover {
    background: #4DB821;
}

.message {
    height: 160px;
    bottom: 0;
    background: repeating-linear-gradient(106deg, #e3e3e3a6, #41faff80);
    color: #fff;
}

.alpha_bg {
    margin-top: -2%;
}

.alpha_bg span {
    cursor: pointer;
    background: #013ad6;
    width: 25px;
    color: #f9f906;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #ffffff;
    padding: 10px 15px;
    border-radius: 13px;
}

.alpha_bg_active {
    background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc) !important;
    color: #013ad6 !important;
    opacity: 0.5;
}

.alpha_bg span:hover {
    background: #4DB821;
    color: #013ad6;
}

.disabled {
    opacity: 0.2% !important;
}


/* .disabled:hover {
  color: #f9f906 !important;
  background: #013ad6 !important;
} */


/* for select option */

.common_input {
    border-radius: 28px;
    background: #eeeeee75;
    padding: 0px 10px;
    border: 2px solid #48B822;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    height: 40px;
    margin-bottom: 0px;
    box-shadow: 1px 4px #00000017;
}

.disabled {
    background: #48b822;
    opacity: 0.5;
}

.common_style {
    width: 100%;
    cursor: default;
}

.common_label {
    width: 10%;
    font-size: 15px;
    font-weight: bold;
    color: #41faff;
    text-shadow: 0 0 0.5em #41faff, 0 0 0.5em #41faff;
    letter-spacing: 0.7px;
    margin-top: 10px;
    text-align: left;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown {
    .dropdown-toggle {
        width: 100%;
        text-align: left;
        .down_icon {
            // filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            display: inline-block;
            /* background: #fff; */
            border-radius: 50%;
            height: 20px;
            width: 15px;
            margin: 0;
            padding-right: 10px;
            font-size: 18px;
            color: #48B822;
            margin-left: 23px;
            float: right;
            margin-top: -22px;
        }
    }
}

.dropdown {
    width: 100%;
}

.dropdown-menu.show {
    width: 95%;
    font-weight: bold;
    border-radius: 15px;
    background: #f5f5e6;
}

.dropdown-item {
    padding: .25rem 1rem;
    font-size: 14px;
    font-weight: bold;
}

.dropdown-menu.show :hover {
    background: #8fd0ca5c;
}

.section_text {
    margin-bottom: 0;
}

.starstop_btn {
    margin-left: 30px;
    width: 88px;
}

.button_group {
    float: right;
}

.showans_btn {
    // float: right;
    padding-right: 18px;
    text-align: center;
    margin-bottom: 17px;
    &.TimerReset {
        text-align: left;
        margin-left: 6px;
    }
}

.custom_input {
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    font-weight: bold;
}

.custom_input :focus {
    border: 2px solid rgb(134, 124, 124) !important;
}

.drop_down_icon {
    float: right;
    width: 30px;
    margin-top: -25px;
}

.section_text {
    margin-bottom: 0;
    padding-top: 4px;
}

.footer_top_style {
    width: 100%;
    height: 50px;
}

.blank_style {
    width: 5%;
}

.bottom_col {
    bottom: 0px;
    margin-top: 40px;
    //   position: absolute;
    // margin-top: -56px; //added by KKK
}

.bg_img {
    height: 100%;
    margin-left: 0px;
    background: url("../../../assets/images/control_bg.png") no-repeat;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    padding: 0px;
    border: 2px solid #48B822;
    border-radius: 5px;
    background-position: bottom;
}

.setting_img {
    height: 100%;
    margin-left: 0px;
    background: url("../../../assets/images/setting_bg.png") no-repeat;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    padding: 0px;
    border: 2px solid #48B822;
    border-radius: 5px;
    background-position: bottom;
}

.modal-header {
    color: #fff !important;
    background: #48B822 !important;
    padding: 10px 1rem !important;
    border: none !important;
    border: none;
    h4 {
        font-size: 20px !important;
    }
    button {
        outline: none !important;
    }
}

.modal-body {
    text-align: center !important;
    color: #fff !important;
    padding: 0rem 1rem;
    padding-top: 3em !important;
    label {
        font-weight: bold !important;
        margin-top: 10px;
    }
}

.modal-footer {
    border: none;
    padding: 2rem 1rem;
    .btn-add,
    .btn-add__reset {
        width: 100px !important;
        border-top-right-radius: 17px !important;
        border-bottom-left-radius: 17px !important;
        padding: 10px !important;
        /*    margin-top: 10px !important; */
        background: #000 !important;
        border: none !important;
        background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc) !important;
        margin-left: 10px !important;
        font-weight: bold !important;
        letter-spacing: 0.5px !important;
        cursor: pointer !important;
        border: 1px solid #4DB821 !important;
        outline: none !important;
        color: #013ad6;
    }
    .btn-add:active,
    .btn-add__reset:active {
        color: #013ad6;
        background-color: #4DB821;
        border-color: #4DB821;
        outline: none !important;
    }
    .btn-add:hover,
    .btn-add__reset:hover {
        background: #4DB821 !important;
    }
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

// model_dialog box label and input style
.dialog-input-field {
    padding: 0 27px;
    .form-group {
        .common_label {
            width: 20% !important;
            float: left !important;
        }
    }
}

// added by KKK
.pad_right0 {
    padding-right: 0px;
}

row {
    div {
        .common_input {
            border-radius: 28px;
            background: #eeeeee75;
            padding: 0px 10px;
            border: 2px solid #4DB821;
            outline: none;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.5px;
            height: 40px;
            margin-bottom: 0px;
            box-shadow: 1px 4px #00000017;
        }
        .common_label {
            font-size: 14px;
            font-weight: bold;
            color: #41faff;
            letter-spacing: 0.7px;
            margin-bottom: 0px;
            text-align: left;
            padding-bottom: 5px;
        }
    }
}

.font-title {
    h1 {
        float: left;
        margin-top: 15px;
        font-size: 1.5em;
        margin-bottom: 15px;
        margin-left: 26px;
    }
}

.setting_body {
    border: 2px solid #4DB821;
    border-radius: 10px;
}

.mark_model {
    border-radius: 10px;
    background: #eeeeee75;
    border: 2px solid #48B822;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 4px #00000017;
    text-align: center;
    margin: 30px 10px;
    line-height: 50px;
}

// dialog form input by KKK
@media only screen and (max-width: 1200px) {
    .dialog-input-field {
        .form-group {
            text-align: left;
            .common_label {
                width: 20% !important;
                float: unset !important;
            }
        }
    }
}

.circle_icon {
    font-size: 30px;
    color: #48b822;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
}

%UpDwonIcon {
    float: right;
    border: none;
    padding: 0;
    background: none;
    color: #fff;
    margin-right: -21px;
    cursor: pointer;
    font-size: 19px;
}

.up_icon {
    @extend %UpDwonIcon;
    margin-top: -39px;
}

.down_icon {
    @extend %UpDwonIcon;
    margin-top: -26px;
}

.setting_icon {
    font-weight: bold;
    color: #fff;
    background: #4DB821;
    float: right;
    margin-top: 5%;
    width: 50px;
    padding: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.setting_icon:hover {
    background: #013ad6;
}

.setting_icon img {
    width: 30px;
}

.container_up {
    position: relative;
    display: inline-block;
    .common_input {
        width: 100% !important;
    }
}

// .container_up:hover {
//   border: 1px solid darkgray;
//   border-radius: .5rem;
// }
// .container:hover input {
//   border: none;
// }
// input {
//   border: 1px solid lightgray;
//   padding: .5rem;
//   border-radius: .5rem;
// }
// input:hover {
//   border-color: green;
// }
.spinner {
    right: 1px;
    top: 2px;
    width: 1.5rem;
    position: absolute;
    //   background: white;
    border-radius: .5rem;
    display: none;
    height: 2rem;
}

.spinner {
    display: block;
    margin-top: -10px;
    margin-right: 10px;
}

// .container_up:hover .spinner {
//   right: 0;
//   top: 1px;
// }
.button_up {
    position: relative;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 2rem;
    padding: 0;
    display: block;
}

.button_up:hover {
    color: #fff;
}

.button_up:active {
    color: #fff
}

.up {
    transform: rotate(-90deg);
    top: -0.2rem;
    outline: none;
}

.down {
    transform: rotate(-90deg);
    top: -2.3rem;
    outline: none;
}

.skip_icon {
    float: right;
    width: 20px;
}

.correct_icon {
    float: right;
    width: 17px;
}

.resize_icon {
    max-width: 47px !important;
}

.fontsize_limit {
    text-align: left;
    color: #41faff;
    font-size: 12px;
    float: right;
    margin-right: 50px;
}

.hide_char {
    visibility: hidden;
}

.radio_input{
    margin-left: 17px;
    margin-top: 3px;
    cursor: pointer;
}
.option_text{
    vertical-align: 1px;
    margin-left: 10px;
    color: #fff;
    margin-right: 30px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: gainsboro;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 23px;
}

// .active-player .circle::before { 
//     content: "";
//     background-color: #4DB821;
//     font-weight: bold;
//     height: 10px;
//     width: 10px;
//     position: absolute;
//     top: 2.5px;
//     left: 2.75px;
//     border-radius: 10px;
//   }


// .openall-group .active-player{
//     background-image: linear-gradient(to top, #04b3ff 0%, #242424 100%);
//     background-image: linear-gradient(to top, #008bb4 0%, #4aff00 100%);
// }

.active-player{
    color: #39ff14 !important;
    text-shadow: 0 0 20px #28ff00;
    font-weight: bold;
}

.active-player .circle{
    background: #39ff14;
    box-shadow: 0 0 20px #28ff00;
}
.dis-icon{
    display: none;
    position: absolute;
    z-index: 99;
    width: 15px;
    height: 15px;
    top: 18px;
    margin-left: 15px;
}
.disconnect .dis-icon{
    display: block;
}

.select_container{
    margin-bottom: 21px;
    text-align: center;
    padding-right: 20px;
}
.select_player{
    width: 200px !important;
}

.adjust_container{
    text-align: left !important;
}