.word {
    letter-spacing: 20px;
    width: 500px;
    text-align: center;
    margin: 0;
    height: 80px;
    border: none;
    outline: none;
    padding-top: 10px;
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
    padding-left: 22px;
    position: fixed;
}

.one_word_green_three {
    background-size: contain;
    display: inline-block;
    min-width: 77px;
    .roundthree_text {
        width: 70px;
        text-align: center;
        margin: 0;
        height: 81px;
        background: none;
        border: none;
        font-size: 45px;
        outline: none;
        margin-left: 1px;
        padding-top: 0px;
        padding-bottom: 8px;
        color: #fff;
      font-weight: bolder;
      text-shadow: 1px 2px 2px #333333;
    //   letter-spacing: 55px;
      padding-left: 0px;
      margin-bottom: 0px;
    }
  }

  .one_word_green {
    // background: url(../../../../assets/images/GREEN/green_blank.png) no-repeat;
    background: url(../../../../assets/images/GREEN/Square_Box_Pink.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-height: 81px;
    min-width: 81px;
    width: auto;
    // margin-left: -30px;
  }

 .roundthree_body .one_word_green {
    // background: url(../../../../assets/images/GREEN/green_blank.png) no-repeat;
    background: url(../../../../assets/images/GREEN/Square_Box_Pink.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-height: 105px;
    min-width: 105px;
    width: auto;
    // margin-left: -30px;
  }

.hide_char {
  visibility: hidden;
}

.blue_bg {
  width: auto;
  background: url(../../../../assets/images/BLUE/blue_blank.png) no-repeat;
  background-size: cover;
  display: inline-block;
  min-height: 60px;
  position: relative;
  padding: 0;
  min-width: 105px;
}

.roundthree_text {
    width: 845px;
    text-align: center;
    margin: 0;
    height: 107px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-top: 0px;
    padding-bottom: 8px;
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
    padding-left: 60px;
    margin-bottom: 70px;
}

.transparent {
  color: transparent !important;
  text-shadow: none !important;
}

@media only screen and (max-width: 1650px) {
  .long_word_blue {
      margin-left: -35px;
  }
}

@media (min-width: 2280px) and (max-width: 3999px) {
  .long_word_blue {
      margin-left: -40px;
      @for $f from 1 through 150 {
          .font#{$f} {
              //padding: 20px !important;
          }
      }
  }
}

@media only screen and (min-width: 4000px) {
  .long_word_blue {
      margin-left: -50px;
  }
}

// adjust font
@for $f from 1 through 1 {
  .font#{$f} {
      font-size: $f * 1px;
  }
  .width#{$f} {
      min-width: 100px;
      width: $f * 0.8%;
  }
}

//Start Long word Blue
@for $length from 1 through 20 {
  @if $length==9 {
      .longBlueRoundFour#{$length} {
          width: calc(20em + 3vw) !important;
          padding-left: 15px;
          padding-top: 10px;
      }
  }
  @else if $length<=5 {
      .longBlueRoundFour#{$length} {
          width: calc(17em + 3vw) !important;
          padding-left: 0px;
          padding-top: 6px;
      }
  }
  @else if $length==6 {
      .longBlueRoundFour#{$length} {
          width: calc(20em + 3vw) !important;
          padding-left: 15px;
          padding-top: 8px;
      }
  }
  @else if $length==7 {
      .longBlueRoundFour#{$length} {
          width: calc(23em + 3vw) !important;
          padding-left: 15px;
          padding-top: 10px;
      }
  }
  @else if $length==8 {
      .longBlueRoundFour#{$length} {
          width: calc(20em + 3vw) !important;
          padding-left: 15px;
          padding-top: 10px;
      }
  }
  @else if $length==10 {
      .longBlueRoundFour#{$length} {
          width: calc(23em + 3vw) !important;
          padding-left: 15px;
          padding-top: 10px;
      }
  }
  @else if $length==11 {
      .longBlueRoundFour#{$length} {
          width: calc(25em + 3vw) !important;
          padding-left: 15px;
          padding-top: 10px;
      }
  }
  @else if $length==12 {
      .longBlueRoundFour#{$length} {
          width: calc(28em + 3vw) !important;
          padding-left: 15px;
          padding-top: 10px;
      }
  }
  @else if $length>=13 {
      .longBlueRoundFour#{$length} {
          width: calc(34em + 3vw) !important;
          padding-left: 30px;
          padding-top: 15px;
      }
  }
}

@media (min-width: 2280px) and (max-width: 3999px) {
  @for $length from 1 through 20 {
      @if $length<=8 {
          .longBlueRoundFour#{$length} {
              width: calc(35em + 3vw) !important;
              padding-left: 15px;
              padding-top: 10px;
          }
      }
      @else if $length==9 {
          .longBlueRoundFour#{$length} {
              width: calc(40em + 3vw) !important;
              padding-left: 15px;
              padding-top: 10px;
          }
      }
      @else if $length==10 {
          .longBlueRoundFour#{$length} {
              width: calc(50em + 3vw) !important;
              padding-left: 37px;
              padding-top: 10px;
          }
      }
      @else if $length==11 {
          .longBlueRoundFour#{$length} {
              width: calc(60em + 3vw) !important;
              padding-left: 37px;
              padding-top: 23px;
          }
      }
      @else if $length>=12 {
          .longBlueRoundFour#{$length} {
              width: calc(65em + 3vw) !important;
              padding-left: 40px;
              padding-top: 23px;
          }
      }
  }
}

//* End of text in green capsule
//* Start short_retangle alphabet
@for $retangle_font from 1 through 150 {
  @if $retangle_font==100 {
      .retangle#{$retangle_font} {
          min-width: 185px !important; //! 2880px screen
          margin-left: -45px !important;
          /*
          Close comment by KHA
          .one_word {
              margin-top: 8px !important;
          } */
      }
  }
  @else if $retangle_font==150 {
      .retangle#{$retangle_font} {
          min-width: 300px !important;
          margin-left: -80px !important;
      }
      /*
  Close comment by KHA
  .one_word {
          padding-top: 5px !important;
      } */
  }
}

//*End  Start short_retangle alphabet
@for $retangle_font from 1 through 150 {
  @if $retangle_font==100 {
      .long_retangle#{$retangle_font} {
          width: 500px !important;
      }
  }
  @else if $retangle_font==150 {
      .long_retangle#{$retangle_font} {
          width: 800px !important;
      }
  }
}


.roundthree_body{
    text-align: center !important;
    width: 830px;
    margin-left: 10px;
}

.long_word_blue_SCR .scrambled_long_text{
    background: transparent;
    padding-bottom: 7px !important;
    letter-spacing: 20px;
    width: 585px;
    text-align: center;
    margin: 0;
    height: 107px;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-top: 10px;
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
    padding-left: 30px;
    margin-bottom: 60px;
}

.scrambled_one_word_green .roundthree_text{
    width: 70px;
    text-align: center !important;
    margin: 0;
    /* height: 95px; */
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    /* padding-top: 6px; */
    padding-bottom: 0px;
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
    padding-left: 0px;
    margin-bottom: 0px;
}


.long_word_blue {
    text-align: center;
    background: url(../../../../assets/images/round_two_box.png) no-repeat;
    background-size: cover;
    height: 90px;
    width: 500px;
    margin-left: -14px;
    margin-bottom: 7px !important;
}
.long_word_blue1{
    text-align: center;
    background: url(../../../../assets/images/round_two_box.png) no-repeat;
    background-size: cover;
    height: 90px;
    width: 500px;
    margin-left: 450px;
    margin-bottom: 7px !important;
}
.round2_hint_bg{
    background: url(../../../../assets/images/round_two_box.png) no-repeat;
    background-size: cover;
    max-height: 120px;
    margin-left: 130px;
    margin-bottom: 40px;
    width: calc(33em + 3vw) !important;
}