<!-- for main screen -->
<ng-container *ngIf="screenType === screenTypeEnum.MAIN">
  <div *ngFor="let hint of currentQuestion?.hints; let hintIndex = index">
    <div class="long_word_blue longBlueRoundFour{{hint.value.length}} long_retangle{{control.fontSettings.main_hint}}"
      [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount ? 'animated heartBeat':''"
      *ngIf="!hint?.isCharacter">
      <p class="word font{{control.fontSettings.main_hint}}"
        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''">
        {{ hint.value }}
      </p>
    </div>
  </div>
</ng-container>
