<div class="question-title blue-long-block">
    分不出什么是假， 什么是不不正确
</div>
<div class="roundthree-alpha-body mart_basetwo20">
    <div class="alpha-row">
        <div class="alpha-text gray-block" *ngFor="let item of [11,12,13,14,15,16,17,18,19,110]; let i = index" [id]="item+'_bg'"></div>
    </div>
    <div class="alpha-row">
        <div class="alpha-text gray-block" *ngFor="let item of [21,22,23,24,25,26,27,28,29,210]; let i = index" [id]="item+'_bg'"></div>
    </div>
    <div class="alpha-row">
        <div class="alpha-text gray-block" *ngFor="let item of [31,32,33,34,35,36,37,38,39,310]; let i = index" [id]="item+'_bg'"></div>
    </div>
    <div class="alpha-row">
        <div class="alpha-text gray-block" *ngFor="let item of [41,42,43,44,45,46,47,48,49,410]; let i = index" [id]="item+'_bg'"></div>
    </div>
    <div class="alpha-row">
        <div class="alpha-text gray-block" *ngFor="let item of [51,52,53,54,55,56,57,58,59,510]; let i = index" [id]="item+'_bg'"></div>
    </div>
    <div class="alpha-row">
        <div class="alpha-text gray-block" *ngFor="let item of [61,62,63,64,65,66,67,68,69,610]; let i = index" [id]="item+'_bg'"></div>
    </div>
    <div class="alpha-row">
        <div class="alpha-text gray-block" *ngFor="let item of [71,72,73,74,75,76,77,78,79,710]; let i = index" [id]="item+'_bg'"></div>
    </div>
    <div class="alpha-row">
        <div class="alpha-text gray-block" *ngFor="let item of [81,82,83,84,85,86,87,88,89,810]; let i = index" [id]="item+'_bg'"></div>
    </div>
    <div class="alpha-row">
    </div>
</div>