:root {
    --video-word-block-font-size: 50px;
  }


.video-word-body{
  display: flex;
  width: 1200px;
  justify-content: center;
}

.video-word-block {
    text-align: center;
    color: #fff;
    font-size: var(--video-word-block-font-size);
    height: calc(var(--video-word-block-font-size) * 1.5);
    width: calc(var(--video-word-block-font-size) * 1.5);
    margin-right: calc(var(--video-word-block-font-size) * 0.2);
    margin-left: calc(var(--video-word-block-font-size) * 0.2);
    background-size: 100% 100%;
    float: left;
  }