html,* {
    /* font-family: "simsun"; */
    font-family: "msyh" !important;
}

/* start style for scramble word */
.bg_theme{
	/* height: 100vh; */
    background: url(../../image/round2_bg.png) no-repeat fixed;
    background-size: cover;
}
.typo_bg_theme{
	/* height: 100vh; */
    background: url(../../image/round2_bg.png) no-repeat fixed;
    background-size: cover;
}
.underline-word {
	width: 320px;
    margin: auto;
    min-height: 100px;
    margin-left: 35px;
}

.border-bottom-green {
	border-bottom: 15px solid #ff5efd;
}

.border-bottom-blue {
	border-bottom: 15px solid #8c46c1;
}

.word-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.round2_answer, .round2_word {
	justify-content: center;
	display: flex;
}

.round2_answer .col-sm-1 , .round2_word .col-sm-1 {
	text-align: center;
	padding: 0px;
    margin: 10px 45px;
}
.round2_answer .col-sm-2 , .round2_word .col-sm-2 {
	text-align: center;
}
.answer{
	font-size: 80px;
    font-weight: bold;
    color: #fff;
    line-height: 80px;
margin-bottom: 50px;
height: 80px;
}
.round2_word img{
	   width: 350px;
	   height: 350px;
}
#scramble-word-screen{
    top: 35%;
    position: absolute;
	width: 100%;
}
.round2_btn{
	padding: 0px;
}
.btn_txt{
    position: absolute;
    top: 4px;
    font-size: 70px;
    text-shadow: 3px 4px 3px #333333;
    color: #FFFFFF;
    margin-left: -350px;
    width: 350px;
    height: 350px;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    cursor: not-allowed;
}
.btn:hover{
	outline: none;
    box-shadow: none;
}
/* end style for scramble word */


/* start style for typo word */
#typo-word-screen{
	margin-top: 17%;
}
.btn_align {
	text-align: right;
}

.clear_btn {
	background: repeating-linear-gradient(152deg, #3e0560, #8141a7ad);
    color: #ffffff;
    background-color: #fff;
    box-shadow: 0px 7px 34px 2px #fb00ff;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 30px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 30px 0px;
    width: 250px;
    height: 75px;
}
.clear_btn:hover{
	color: #fff;
}
/*.signaturePad_body{*/
/*	position: fixed;*/
/*    top: 13%;*/
/*    left: 27%;*/
/*}*/
/*#signature-pad canvas {*/
/*!* 	position: absolute;*/
/*	left: 0;*/
/*	top: 0; *!*/
/* 	width: 900px;*/
/*	height: 800px; */
/*	border: 3px solid #ede0ff;*/
/*    box-shadow: 0px 0px 50px 0px #c000ff;*/
/*    border-radius: 15px;*/
/*    opacity: 0.6*/
/*}*/

.signaturePad_body {
/*     left: 32%;
    position: absolute;
    top: 23%; */
    text-align: center;
    width: 1600px;
    margin: auto;

}
#signature-pad{
	border: 3px solid #ede0ff;
    width: 1600px;
    height: 750px;
    box-shadow: 0px 0px 50px 0px #c000ff;
    opacity: 0.6;
}
@media (max-width: 1200px) and (max-height: 1920px) {	
	#typo-word-screen{
		margin-top: 30%;
	}
}
/* end style for typo word */


/* start style for choose player */
.choose_player{
	top: 33%;
	position: absolute;
}
.choose_player .player{
    justify-content: center;
}
.mg_60 {
    margin: 0 60px;
}

.player_body {
	margin: 20px 0;
	cursor: pointer;
}
.player_body .player_img {
	width: 90%;
	border-top-right-radius: 50px;
	margin: 0px;
	border: 3px solid #ede0ff;
    box-shadow: 0px 0px 50px 0px #c000ff;
	border-bottom: none;
	text-align: center;
}

.player_body .player_text {
	width: 90%;
	border-bottom-left-radius: 50px;
	border: 3px solid #ede0ff;
    box-shadow: 0px 0px 50px 0px #c000ff;
	border-top: none;
	text-align: center;
	padding: 0;
	margin: auto;
}

.player_body .player_text .player_btn {
	border: none;
	background: transparent;
	font-size: 30px;
	padding: 10px;
	font-weight: bold;
	color: #41faff;
}
.player_body .player_text .player_btn:focus {
	box-shadow: none;
}
.player_body:hover {
        color: #48b822;
}
.top-right {
    width: 50px;
    position: absolute;
    top: 13px;
    right: 35px;
    border-radius: 50%;
}
.action_btn {
	margin-top: 50px;
	text-align: center;
}
.action_btn .btn{
	background: repeating-linear-gradient(152deg, #3e0560, #8141a7ad);
    color: #ffffff;
    background-color: #fff;
    box-shadow: 0px 7px 34px 2px #fb00ff;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 30px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 250px;
    height: 75px;
}
.choose_icon{
	width: 17px;
    height: 17px;
    margin-right: 12px;
}
/* end style for choose player */



/* Welcome Player */

@font-face {
    font-family: 'fredoka_oneregular';
    src: url('../fonts/fredokaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/fredokaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'msyh';
    src: url('../fonts/msyh.ttc') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.welcome-text-container{
	top: 360px;
    padding: 100px 40px;
    background: linear-gradient( 271deg , rgba(57,13,150,1) 0%, rgb(147 60 255) 50%, rgba(57,13,150,1) 100%);
    border-radius: 23px;
    border: 10px solid #ede0ff;
    box-shadow: 0px 0px 50px 0px #c000ff;
}

.welcome-text{
    font-size: 80px;
    /* font-family: fredoka_oneregular; */
    letter-spacing: 6px;
    outline: none;
    color: #41faff;
    text-shadow: 1px 1px 1px #41faff, 1px 1px 5px #41faff, 1px 1px 5px #41faff;
    padding: 10px 40px;
}
.welcome-player-name{
	/* font-family: fredoka_oneregular; */
    -webkit-box-reflect: below -25px linear-gradient(transparent, #00000017);
    outline: none;
    color: #fdf999;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 6px;
    margin-top: 60px;
}

.disconnect-btn{
	background: repeating-linear-gradient(152deg , #3e0560, #8141a7ad);
    color: #ffffff;
    background-color: #fff;
    box-shadow: 0px 7px 34px 2px #fb00ff;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 30px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 250px;
    top: 260px;
    height: 75px;
    margin: 50px 0px;
}

.dis-btn-cointainer{
	width: 100%;
    text-align: right;
}

.lock_svg{
	position: absolute;
    top: 7%;
    right: 7%;
    width: 6%;
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%); */
    /* opacity: 0.7; */
}
.lock_screen{
	width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.5);
    position: absolute;
    z-index: 333;
    display: none;
}



