<div class="container-fluid home">
  <div class="button">
    <button class="btn button__common">User View</button>
    <button class="btn button__common">Admin View</button>
    <button class="btn button__close">X</button>
  </div>


  <!-- user view section -->
  <section>
    <div class="container-fluid episode">
      <div class="row marl_basefive12 marr_basefive12">
        <div class="col-sm-3">
          <div class="episode__body">
            <img [src]="Images.epiImg" class="mx-auto d-block episode__image" />
            <p class="episode__text">
                <button class="btn episode__btn">EPISODE "1"</button>
            </p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="episode__body">
            <img [src]="Images.epiImg" class="mx-auto d-block episode__image" />
            <p class="episode__text">
                <button class="btn episode__btn">EPISODE "2"</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End of user view section -->

  <!-- Admin View Section -->
  <section>
    <div class="container-fluid episode">
      <div class="row marl_basefive12 marr_basefive12">
        <div class="col-sm-3">
          <div class="episode__body">
            <img [src]="Images.minus" class="mx-auto d-block minus-image" />
            <div>
              <img [src]="Images.epiImg" class="mx-auto d-block episode__image" />
                <p class="episode__text">
                  <button class="btn episode__btn">EPISODE "2"</button>
                </p>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="episode__body">
            <img [src]="Images.minus" class="mx-auto d-block minus-image" />
            <div>
              <img [src]="Images.epiImg" class="mx-auto d-block episode__image" />
                <p class="episode__text">
                  <button class="btn episode__btn">EPISODE "2"</button>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End of Admin View Section -->
</div>