

.adjustMin {
    padding: 6px 35px;
    color: #013ad6;
    font-weight: bold;
    background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
    margin-right: -5%;
    width: 100px;
  }

.showans_btn {
    padding-right: 22px;
    text-align: center;
    margin-bottom: 20px;
  }