<div class="row marb_basetwo6" style="width: 100%;">
    <div class="col-sm-8">
      <div class="form-group">
        <div ngbDropdown class="d-inline-block">
          <button class="btn common_input" id="time_out_choose_drop_down" ngbDropdownToggle>
            <p class="section_text"></p>
            <img [src]="Images.DROPDOWN" class="drop_down_icon" alt="drop down image">
          </button>
          <div ngbDropdownMenu aria-labelledby="time_out_choose_drop_down">
            <button id="time_out" ngbDropdownItem></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
        <button class="btn adjustMin"> &lt; </button>
    </div>
    <div class="col-sm-2">
        <button class="btn adjustMin"> &gt; </button>
    </div>
</div>

<div class="row" style="width: 100%;">
    <div class="col-sm-8">
        <div class="row col-sm-12 mar_basetwo0 marb_basetwo16 mart_basetwo2 pad_basetwo0">
            <label class="col-sm-3 common_label padr_basetwo0 padl_basetwo0">CLUE</label>
            <input type="text" class="col-sm-9 common_input">
        </div>
        <div class="row col-sm-12 mar_basetwo0 marb_basetwo16 mart_basetwo2 pad_basetwo0">
            <label class="col-sm-3 common_label padr_basetwo0 padl_basetwo0">ANSWER</label>
            <input type="text" class="col-sm-9 common_input">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="showans_btn">
            <button class="btn common-button">Show Question</button>
        </div>
        <div class="showans_btn">
            <button class="btn common-button">Start Timer</button>
        </div>
        <div class="showans_btn">
            <button class="btn common-button">Wrong Answer</button>
        </div>
        <div class="showans_btn">
            <div class="form-group">
              <div ngbDropdown class="d-inline-block">
                <button class="btn common_input" id="time_out_choose_drop_down" ngbDropdownToggle>
                  <p class="section_text"></p>
                  <img [src]="Images.DROPDOWN" class="drop_down_icon" alt="drop down image">
                </button>
                <div ngbDropdownMenu aria-labelledby="time_out_choose_drop_down">
                  <button id="time_out" ngbDropdownItem></button>
                </div>
              </div>
            </div>
        </div>
        <div class="showans_btn">
            <button class="btn common-button">Show Question In Tablet</button>
        </div>
        <div class="showans_btn">
            <button class="btn common-button">Lock Tablet</button>
        </div>
    </div>
</div>