<div class="container-fluid home_body">
  <button ngbButtonLabel class="btn main_btn" (click)="openModal(content_setup, 2, '')">
    Go Back Home
  </button>
  <span class="title">EPISODE {{ episode.id }} <i class="fas fa-caret-down"></i></span>

  <section>
    <div class="container-fluid mg_50">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 select_body">
          <div class="form-group">
            <div ngbDropdown class="d-inline-block">
              <button class="btn common_input" id="round_choose_drop_down" ngbDropdownToggle>
                <p class="section_text">{{ currentRoundName }}</p>
                <img [src]="Images.dropDown" class="drop_down_icon" alt="drop down image" />
              </button>
              <div ngbDropdownMenu aria-labelledby="round_choose_drop_down">
                <button ngbDropdownItem *ngFor="let round of episode.rounds">
                  <span class="roundDropDown" (click)="clickRound(round)">{{ round.roundName }}</span>
                  <span>
                    <fa-icon class="remove_icon" [icon]="faTimesCircle" (click)="openModal(content_setup, 1, round)">
                    </fa-icon>
                  </span>
                </button>
                <!-- <button ngbDropdownItem (click)="addRound()">
                  Add New Round
                  <span>
                    <fa-icon class="add_icon" [icon]="faPlusCircle"></fa-icon>
                  </span>
                </button> -->
              </div>
            </div>
          </div>
          <!-- Point -->
          <div class="form-group">
            <label for="_point" class="common_label">{{currentRound.questionType === 6 || currentRound.questionType === 2 ? 'FIRST ' : undefined }}POINT</label>
            <input id="_point" #defaultPoint type="text" class="common_input w_321" [value]="currentRound.point" OnlyNumber="true" (keyup)="changePoint(defaultPoint, 'point')" />
          </div>

          <!-- Second Point -->
          <div class="form-group" *ngIf="currentRound.questionType === 6 || currentRound.questionType === 2">
            <label for="second_point" class="common_label">SECOND POINT</label>
            <input #secondPoint type="text" id="second_point" class="common_input w_321" [value]="currentRound.secondPoint" OnlyNumber="true" (keyup)="changePoint(secondPoint, 'secondPoint')" />
          </div>

          <div class="form-group">
            <label for="round_name_font_size" class="common_label">ROUND AND ROUND NAME FONT SIZE</label>
            <input id="round_name_font_size" type="text" class="common_input w_321" [(ngModel)]="currentRound.roundNameFontSize" OnlyNumber="true" />
          </div>
          <!-- choose category(theme) -->
          <div class="form-group" *ngIf="currentRound.questionType == 4">
            <label for="category" class="common_label"></label>
            <div ngbDropdown class="d-inline-block">
              <button class="btn common_input" id="category_choose_drop_down" ngbDropdownToggle>
                <p class="section_text">
                  {{ currentCategory ? currentCategory.name : "Add New Theme" }}
                </p>
                <img [src]="Images.dropDown" class="drop_down_icon" />
              </button>
              <div ngbDropdownMenu aria-labelledby="category_choose_drop_down">
                <button id="category" ngbDropdownItem *ngFor="let category of currentRound.categories">
                  <span class="roundDropDown" (click)="changeCategory(category)">{{ category.name }}</span>
                  <span>
                    <fa-icon class="remove_icon" [icon]="faTimesCircle" (click)="openModal(content_setup, 4, category)">
                    </fa-icon>
                  </span>
                </button>
                <button ngbDropdownItem (click)="openModal(content_setup, 5, categoryName)">
                  Add New Theme
                  <span>
                    <fa-icon class="add_icon" [icon]="faPlusCircle"></fa-icon>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="currentRound.questionType == 7">
            <label for="category" class="common_label"></label>
            <div ngbDropdown class="d-inline-block">
              <button class="btn common_input" id="category_choose_drop_down" ngbDropdownToggle>
                <p class="section_text">
                  {{ playerCategory }}
                </p>
                <img [src]="Images.dropDown" class="drop_down_icon" />
              </button>
              <div ngbDropdownMenu aria-labelledby="category_choose_drop_down">
                <button id="category" ngbDropdownItem *ngFor="let category of currentRound.categories">
                  <span class="roundDropDown" (click)="changeR4Category(category)">{{ category.name }}</span>
                </button>
              </div>
            </div>
          </div>


        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <div ngbDropdown class="d-inline-block">
              <button class="btn common_input" id="question_choose_drop_down" ngbDropdownToggle>
                <p class="section_text" [innerText]="currentRound.name ? currentRound.name : 'Choose Question Type'"></p>
                <img [src]="Images.dropDown" class="drop_down_icon" alt="drop down image" />
              </button>
              <div ngbDropdownMenu aria-labelledby="question_choose_drop_down">
                <button ngbDropdownItem *ngFor="let questionType of wordWhiz.questionTypes" (click)="openModal(content_setup, 0, questionType)">
                  {{ questionType.name }}
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="time_out" class="common_label"> {{currentRound.questionType === 6 || currentRound.questionType === 2 ? 'FIRST ' : undefined }}TIMEOUT</label>
            <div ngbDropdown class="d-inline-block">
              <button class="btn common_input" id="time_out_choose_drop_down" ngbDropdownToggle>
                <p class="section_text" [innerText]="currentRound.timeOut"></p>
                <img [src]="Images.dropDown" alt="drop_down image" class="drop_down_icon" />
              </button>
              <div ngbDropdownMenu aria-labelledby="time_out_choose_drop_down">
                <button id="time_out" ngbDropdownItem *ngFor="let timeout of timeoutList" (click)="addTimeout(timeout.value, 'timeOut')" [textContent]="timeout.value"></button>
              </div>
            </div>
          </div>

          <!-- Second Time out -->
          <div class="form-group" *ngIf="currentRound.questionType === 6 || currentRound.questionType === 2">
            <label for="second_time_out" class="common_label">SECOND TIMEOUT</label>
            <div ngbDropdown class="d-inline-block">
              <button class="btn common_input" id="sec_time_out_choose_drop_down" ngbDropdownToggle>
                <p class="section_text" [innerText]="currentRound.secondTimeOut"></p>
                <img [src]="Images.dropDown" class="drop_down_icon" alt="drop down image" />
              </button>
              <div ngbDropdownMenu aria-labelledby="sec_time_out_choose_drop_down">
                <button id="second_time_out" ngbDropdownItem *ngFor="let timeout of timeoutList" (click)="addTimeout(timeout.value, 'secondTimeOut')" [textContent]="timeout.value"></button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="clue_font_size" class="common_label">CLUE FONT SIZE</label>
            <input id="clue_font_size" type="text" class="common_input w_321" [(ngModel)]="currentRound.clueLabelFontSize" OnlyNumber="true" />
          </div>
          <div class="form-group">
            <label for="player_font_size" class="common_label">PLAYER POINT FONT SIZE</label>
            <input id="player_font_size" type="text" class="common_input w_321" [(ngModel)]="episode.players[0].pointFontSize"
              (ngModelChange)="changePlayerPointSize($event)" OnlyNumber="true" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 second_body">
          <ng-container *ngIf="currentRound.questionType != 5">
          <div class="form-group question_txt" *ngIf="currentRound.questionType != 2">
            <label for="question" class="common_label"> QUESTION </label>
            <span class="error_msg ml-5" *ngIf="invalidQuestion">*Already exist in question list !</span>
            <textarea id="question" type="text" class="common_input common_textarea" [(ngModel)]="question.clue" (ngModelChange)="questionClueChanged($event)"></textarea>
            <div class="row">
              <div class="col-sm-6">
                <label for="main_quest_font_size" class="common_label">MAIN QUESTION FONT SIZE </label>
                <input id="main_quest_font_size" type="text" class="common_input w_30" [(ngModel)]="question.clueFontSize" OnlyNumber="true"
                  (ngModelChange)="questionClueFontSizeChanged($event)">
              </div>
              <div class="col-sm-6">
                <label for="one_third_quest_font_size" class="common_label">ONE THIRD QUESTION FONT SIZE </label>
                <input id="one_third_quest_font_size" type="text" class="common_input w_30" [(ngModel)]="question.otClueFontSize" OnlyNumber="true"
                  (ngModelChange)="questionClueFontSizeChanged($event)">
              </div>
            </div>
          </div>
        </ng-container>

          <!-- no hint -->
          <div class="container-fluid" *ngIf="question.hints.length == 0">
            <div class="row" *ngIf="currentRound.questionType == 5">
              <div class="col-sm-10">
                <div class="form-group" >
                  <span class="error_msg ml-5" *ngIf="invalidQuestion">*Already exist in question list !</span>

                  <input type="text" class="common_input w_30" style="margin-top: 14px;"  [(ngModel)]="question.clue" />
                </div>
              </div>
              <div class="col-sm-2">
                <input type="button" class="btn btn_box" (click)="uploadFile()" value="UPLOAD VIDEO" style="width: 92%;" />
              </div>
            </div>
            <div class="row">

              <div class="col-sm-12">
                <div class="form-group ">
                  <label for="answer_0" style="width:100px;" class="common_label">ANSWER</label>
                  <input id="answer_0" *ngIf="currentRound.questionType == 6" type="text" maxlength="4" class="common_input w_100" [(ngModel)]="question.ans"
                  (ngModelChange)="questionAnsChanged($event)" />
                    <input id="answer_0" type="text" *ngIf="currentRound.questionType != 6" class="common_input w_100" [(ngModel)]="question.ans"
                    (ngModelChange)="questionAnsChanged($event)" />
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="common_label">MAIN ANSWER FONT SIZE</label>
                      <input type="text" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true"
                        (ngModelChange)="questionAnsFontSizeChanged($event)" />
                    </div>
                    <div class="col-sm-6">
                      <label class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                      <input type="text" class="common_input w_30" [(ngModel)]="question.otAnsFontSize"
                        OnlyNumber="true" (ngModelChange)="questionAnsFontSizeChanged($event)" />
                    </div>
                  </div>
                </div>
              </div>

              <!--     <div class="col-sm-4"></div> -->
            </div>
            <div class="col-sm-12 btn_wrapper">
              <div class="btn-group btn-group-toggle btn_question">
                <button class="btn-primary btn_box button" (click)="saveQuestion()" [disabled]="disabled()">
                  OK
                </button>
                <button class="btn-primary btn_box button" (click)="cancel()">
                  CANCEL
                </button>
              </div>
            </div>
          </div>

          <!-- //! hint   -->
          <div class="container-fluid" *ngIf="question.hints.length != 0">
            <div *ngFor="let hint of question.hints; let hintIndex = index">
              <ng-container *ngIf="currentRound.questionType == 3">
                <!-- //! hint show back of answer -->
                <div class="row" *ngIf="hint.position == 2">
                  <div class="col-sm-5">
                    <div class="form-group ">
                      <label for="answer" style="width:100px;" class="common_label">ANSWER</label>
                      <input id="answer" [readonly]="hint.id !== 1" type="text" class="common_input w_100" [ngClass]="hint.id == 1 ? undefined: 'common_input w_100 disabled'" [(ngModel)]="question.ans" />
                      <div>
                        <label class="common_label">MAIN ANSWER FONT SIZE</label>
                        <input type="text" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true" />
                      </div>
                      <div>
                        <label class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                        <input type="text" class="common_input w_30" [(ngModel)]="question.otAnsFontSize" OnlyNumber="true" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 exchange_wrapper">
                    <img [src]="Images.exchange_icon" class="exchange_icon" alt="exchange_icon" (click)="exchangeHint(1, hint.id)" />
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label [for]="'hint' + hintIndex" style="width:100px;" class="common_label">HINT{{ question.hints.length <= 1 ? "" : hint.id }}</label>
                          <input [id]="'hint' + hintIndex" type="text" class="common_input w_100" (keyup)="changeHint($event, hint.id)" [value]="hint.value" />
                          <div>
                            <label class="common_label">MAIN HINT FONT SIZE</label>
                            <input type="text" class="common_input w_30" [(ngModel)]="hint.hintFontSize"
                              OnlyNumber="true" />
                          </div>
                          <div>
                            <label class="common_label">ONE THIRD HINT FONT SIZE</label>
                            <input type="text" class="common_input w_30" [(ngModel)]="hint.otHintFontSize"
                              OnlyNumber="true" />
                          </div>
                    </div>
                  </div>
                </div>
                <!-- //! hint show front of answer  -->
                <div class="row" *ngIf="hint.position != 2">
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label for="" style="width:100px;" class="common_label">HINT
                        {{ question.hints.length <= 1 ? "" : hint.id }}</label>
                          <span class="error_msg" *ngIf="invalidQuestion && currentRound.questionType == 4">*Already
                            exist
                            in
                            question list !</span>

                          <input type="text" class="common_input w_100" (keyup)="changeHint($event, hint.id)"
                            value="{{ hint.value }}" />
                          <div>
                            <label class="common_label">MAIN HINT FONT SIZE</label>
                            <input type="text" class="common_input w_30" [(ngModel)]="hint.hintFontSize"
                              OnlyNumber="true" />
                          </div>
                          <div>
                            <label class="common_label">ONE THIRD HINT FONT SIZE</label>
                            <input type="text" class="common_input w_30" [(ngModel)]="hint.otHintFontSize"
                              OnlyNumber="true" />
                          </div>
                    </div>
                  </div>
                  <div class="col-sm-2 exchange_wrapper">
                    <img [src]="Images.exchange_icon" class="exchange_icon" (click)="exchangeHint(2, hint.id)" />
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group ">
                      <label for="" style="width:100px;" class="common_label">ANSWER</label>
                      <input [readonly]="hint.id == 1 ? false : true" type="text" [ngClass]="
                            hint.id == 1
                              ? 'common_input w_100'
                              : 'common_input w_100 disabled'
                          " [(ngModel)]="question.ans" />
                      <div>
                        <label class="common_label">MAIN ANSWER FONT SIZE</label>
                        <input type="text" class="common_input w_30" [(ngModel)]="question.ansFontSize"
                          OnlyNumber="true" />
                      </div>
                      <div>
                        <label class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                        <input type="text" class="common_input w_30" [(ngModel)]="question.otAnsFontSize"
                          OnlyNumber="true" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 "></div>
                </div>
              </ng-container>
              <ng-container *ngIf="currentRound.questionType == 1">
                <div class="form-group" *ngIf="currentRound.questionType !== 6">
                  <label [for]="'hint' + hintIndex" style="width: 100px;" class="common_label">HINT</label>
                  <input type="text" [id]="'hint' + hintIndex" class="common_input w_100" [(ngModel)]="hint.value" />
                </div>
                <div class="form-group" *ngIf="currentRound.questionType !== 6">
                  <div>
                    <div>
                      <label class="common_label">HINT ONE POSITION</label>
                    </div>
                    <input type="radio" name="hintOnePosition" (change)="changeROneHintPosition('center', 0)"
                      [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[0] == 'center'"/>
                    <label class="r1_radio_label">Center</label>
                    <input type="radio" name="hintOnePosition" (change)="changeROneHintPosition('left', 0)"
                    [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[0] == 'left'"/>
                    <label class="r1_radio_label">Left</label>
                    <input type="radio" name="hintOnePosition" (change)="changeROneHintPosition('right', 0)"
                    [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[0] == 'right'"/>
                    <label class="r1_radio_label">Right</label>
                    <input type="radio" name="hintOnePosition" (change)="changeROneHintPosition('top', 0)"
                    [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[0] == 'top'"/>
                    <label class="r1_radio_label">Top</label>
                    <input type="radio" name="hintOnePosition" (change)="changeROneHintPosition('bottom', 0)"
                    [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[0] == 'bottom'"/>
                    <label class="r1_radio_label">Bottom</label>
                  </div>
                  <div>
                    <div>
                      <label class="common_label">HINT TWO POSITION</label>
                    </div>
                    <input type="radio" name="hintTwoPosition" (change)="changeROneHintPosition('center', 1)"
                      [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[1] == 'center'"/>
                    <label class="r1_radio_label">Center</label>
                    <input type="radio" name="hintTwoPosition" (change)="changeROneHintPosition('left', 1)"
                    [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[1] == 'left'"/>
                    <label class="r1_radio_label">Left</label>
                    <input type="radio" name="hintTwoPosition" (change)="changeROneHintPosition('right', 1)"
                    [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[1] == 'right'"/>
                    <label class="r1_radio_label">Right</label>
                    <input type="radio" name="hintTwoPosition" (change)="changeROneHintPosition('top', 1)"
                    [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[1] == 'top'"/>
                    <label class="r1_radio_label">Top</label>
                    <input type="radio" name="hintTwoPosition" (change)="changeROneHintPosition('bottom', 1)"
                    [checked]="question.hints[0]?.positionCalss && question.hints[0]?.positionCalss[1] == 'bottom'"/>
                    <label class="r1_radio_label">Bottom</label>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="main_hint_font_size" class="common_label">MAIN HINT FONT SIZE</label>
                      <input type="text" id="main_hint_font_size" class="common_input w_30" [(ngModel)]="hint.hintFontSize" OnlyNumber="true" />
                    </div>
                    <div class="col-sm-6">
                      <label for="one_third_font_size" class="common_label">ONE THIRD HINT FONT SIZE</label>
                      <input type="text" id="one_third_font_size" class="common_input w_30" [(ngModel)]="hint.otHintFontSize" OnlyNumber="true" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="ans" style="width:100px;" class="common_label">ANSWER</label>
                  <input type="text" id="ans" class="common_input w_100" [(ngModel)]="question.ans" (ngModelChange)="questionAnsChanged($event)" />
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="main_ans_font_size" class="common_label">MAIN ANSWER FONT SIZE</label>
                      <input type="text" id="main_ans_font_size" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true" (ngModelChange)="questionAnsFontSizeChanged($event)" />
                    </div>
                    <div class="col-sm-6">
                      <label for="one_third_ans_font_size" class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                      <input type="text" id="one_third_ans_font_size" class="common_input w_30" [(ngModel)]="question.otAnsFontSize" OnlyNumber="true" (ngModelChange)="questionAnsFontSizeChanged($event)" />
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="currentRound.questionType == 4">
                <div class="col-sm-12" style="padding: 0;">
                  <div class="form-group">
                    <label [for]="'hint' + hintIndex" style="width:100px;" class="common_label">HINT{{ question.hints.length <= 1 ? "" : hint.id }}</label>
                        <input [id]="'hint' + hintIndex" type="text" class="common_input w_100" (keyup)="changeHint($event, hint.id)" [value]="hint.value" />
                        <div class="row">
                          <div class="col-sm-6">
                            <label for="main_hint_font_size_" class="common_label">MAIN HINT FONT SIZE</label>
                            <input id="main_hint_font_size_" type="text" class="common_input w_30" [(ngModel)]="hint.hintFontSize" OnlyNumber="true" />
                          </div>
                          <div class="col-sm-6">
                            <label for="one_third_font_size_" class="common_label">ONE THIRD HINT FONT SIZE</label>
                            <input id="one_third_font_size_" type="text" class="common_input w_30" [(ngModel)]="hint.otHintFontSize" OnlyNumber="true" />
                          </div>
                        </div>
                  </div>
                </div>
                <div class="col-sm-12" style="padding: 0;" *ngIf="hintIndex == 2">
                  <div class="form-group ">
                    <label for="hint_ans_2" style="width:100px;" class="common_label">ANSWER</label>
                    <input id="hint_ans_2" type="text" class="common_input w_100" [(ngModel)]="question.ans" />
                    <div class="row">
                      <div class="col-sm-6">
                        <label for="hint_main_2" class="common_label">MAIN ANSWER FONT SIZE</label>
                        <input id="hint_main_2" type="text" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true" />
                      </div>
                      <div class="col-sm-6">
                        <label for="hint_one_third_2" class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                        <input id="hint_one_third_2" type="text" class="common_input w_30" [(ngModel)]="question.otAnsFontSize" OnlyNumber="true" />
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="currentRound.questionType == 7">
                <div class="form-group">
                  <label for="hint" class="common_label">WRONG WORD</label>
                  <input type="text" id="hint" class="common_input w_100" [(ngModel)]="hint.value" />
                </div>
                <!-- <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="main_hint_font_size" class="common_label">MAIN WRONG WORD FONT SIZE</label>
                      <input type="text" class="common_input w_30" [(ngModel)]="hint.hintFontSize" OnlyNumber="true" />
                    </div>
                    <div class="col-sm-6">
                      <label for="one_third_font_size" class="common_label">ONE THIRD WRONG WORD FONT SIZE</label>
                      <input type="text" class="common_input w_30" [(ngModel)]="hint.otHintFontSize" OnlyNumber="true" />
                    </div>
                  </div>
                </div> -->
                <div class="form-group">
                  <label for="ans_" class="common_label">CORRECT WORD</label>
                  <input type="text" id="ans_" class="common_input w_100" [(ngModel)]="question.ans" (ngModelChange)="questionAnsChanged($event)" />
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="main_ans_font_size_" class="common_label">MAIN CORRECT WORD FONT SIZE</label>
                      <input type="text" id="main_ans_font_size_" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true" (ngModelChange)="questionAnsFontSizeChanged($event)" />
                    </div>
                    <div class="col-sm-6">
                      <label for="one_third_ans_font_size_" class="common_label">ONE THIRD CORRECT WORD FONT SIZE</label>
                      <input type="text" id="one_third_ans_font_size_" class="common_input w_30" [(ngModel)]="question.otAnsFontSize" OnlyNumber="true" (ngModelChange)="questionAnsFontSizeChanged($event)" />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="currentRound.questionType === 2">
              <div class="row">
                <div class="col-sm-8">
                  <div class="container" style="padding: 20px;">
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                        *ngFor="let item of [11,12,13,14,15,16,17,18,19,110]; let i = index" [id]="item">
                      </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                        *ngFor="let item of [21,22,23,24,25,26,27,28,29,210]; let i = index" [id]="item">
                      </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                        *ngFor="let item of [31,32,33,34,35,36,37,38,39,310]; let i = index" [id]="item">
                      </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                           *ngFor="let item of [41,42,43,44,45,46,47,48,49,410]; let i = index" [id]="item">
                      </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                           *ngFor="let item of [51,52,53,54,55,56,57,58,59,510]; let i = index" [id]="item">
                      </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                        *ngFor="let item of [61,62,63,64,65,66,67,68,69,610]; let i = index" [id]="item">
                      </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                        *ngFor="let item of [71,72,73,74,75,76,77,78,79,710]; let i = index" [id]="item">
                      </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                        *ngFor="let item of [81,82,83,84,85,86,87,88,89,810]; let i = index" [id]="item">
                      </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div (click)="clickGrid(item)" class="alpha_text col-sm"
                        *ngFor="let item of [91,92,93,94,95,96,97,98,99,910]; let i = index" [id]="item">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" style="margin-top: 20px;">
                    <!-- <div ngbDropdown class="d-inline-block" style="margin-bottom: 13%;width: 100%;">
                      <label for="category_" class="common_label ">CATEGORY</label>
                      <ng-container *ngIf="currentCategory; else newCategoryTemplate">
                        <button style="width: 100%; cursor: default; text-align: left" class="btn common_input">{{currentCategory.name}}</button>
                      </ng-container>
                      <ng-template #newCategoryTemplate>
                        <button style="width: 100%;" class="btn common_input" id="category_drop_down" ngbDropdownToggle>
                          <p class="section_text">{{ currentCategory ? currentCategory.name : "Add New Category" }}</p>
                          <img [src]="Images.dropDown" class="drop_down_icon" alt="drop down image" />
                        </button>
                        <div ngbDropdownMenu aria-labelledby="category_drop_down">
                          <button id="category_" ngbDropdownItem *ngFor="let category of currentRound.categories">
                            <span class="roundDropDown" (click)="changeCategory(category)">{{ category.name }}</span>
                            <span>
                            <fa-icon class="remove_icon" [icon]="faTimesCircle" (click)="openModal(content_setup, 4, category)"></fa-icon>
                          </span>
                          </button>
                          <button ngbDropdownItem (click)="openModal(content_setup, 5, categoryName)">
                            Add New Category
                            <span>
                            <fa-icon class="add_icon" [icon]="faPlusCircle"></fa-icon>
                          </span>
                          </button>
                        </div>
                      </ng-template>
                    </div> -->

                    <div ngbDropdown class="d-inline-block" style="margin-bottom: 13%;width: 100%;">
                      <label for="word" class="common_label ">WORD</label>
                      <button style="width: 100%;" class="btn common_input" id="word_choose_drop_down" ngbDropdownToggle>
                        <p class="section_text">{{ currentWord ? currentWord.hints[0].value : "Select One Word" }}</p>
                        <img [src]="Images.dropDown" class="drop_down_icon" alt="drop down image" />
                      </button>
                      <div ngbDropdownMenu aria-labelledby="word_choose_drop_down">
                        <button id="word" ngbDropdownItem *ngFor="let question of filterQuestion(currentRound.questionArray)">
                          <span class="roundDropDown" (click)="clickHint(question)">{{ question.hints[0].value }}</span>
                          <span>
                            <fa-icon class="remove_icon" [icon]="faTimesCircle" (click)="openModal(content_setup, 6, question.id)"></fa-icon>
                          </span>
                        </button>
                        <button ngbDropdownItem (click)="openModal(content_setup, 7, hintValueForR4)">
                          Add New Word
                          <span>
                            <fa-icon class="add_icon" [icon]="faPlusCircle"></fa-icon>
                          </span>
                        </button>
                      </div>
                    </div>

                    <div style="margin-left:4px;margin-bottom: 13%;">
                      <input #word type="radio" name="gridstatus" value="default" (change)="changeGridStatus(word.value)" />
                      <label class="option_text">Add Word</label>
                      <input #hint type="radio" name="gridstatus" value="hint" (change)="changeGridStatus(hint.value)" />
                      <label class="option_text">Add Hint</label>
                    </div>
                    <button class="btn-primary btn_box button" style="width: 100%; margin-left: 5px !important;"
                      (click)="clearWord(currentWord.hints[0].value )">
                      Clear Word
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="col-sm-12 btn_wrapper" *ngIf="currentRound.questionType != 2">
              <div class="btn-group btn-group-toggle btn_question">
                <button class="btn-primary btn_box button" (click)="saveQuestion()" [disabled]="disabled()">
                  OK
                </button>
                <button class="btn-primary btn_box button" (click)="cancel()">
                  CANCEL
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid pad_b50">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 pad_0">
          <div class="table_body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="table_title" *ngIf="currentRound.questionType == 2">Question Number</th>
                  <th class="table_title">{{currentRound.questionType != 5 ? 'QUESTION' : 'VIDEO DESCRIPTION'}}</th>
                  <th class="table_title" *ngIf="currentRound.questionType != 2">ANSWER</th>
                  <th class="table_title" *ngFor="let hint of question.hints">HINT {{ question.hints.length <=1 ? "" : hint.id }} </th>
                  <th class="table_title" *ngIf="currentRound.questionType == 1">POSITION</th>
                  <th class="table_title act_width text-center" *ngIf="currentRound.questionType != 2">ACTION</th>
                  <th class="table_title" *ngIf="currentRound.questionType == 2">POSITION</th>
                </tr>
              </thead>
              <tbody *ngIf="currentRound.questionArray.length > 0">
                <tr *ngFor="let question of filterQuestion(currentRound.questionArray)">
                  <ng-container *ngIf="currentRound.questionType == 2">
                    <td class="common_data">{{ question.id }}</td>
                  </ng-container>
                  <ng-container *ngIf="currentRound.questionType == 5; else sampleTd">
                    <td class="common_data"><a (click)="previewVideo(videoModal,question.clue)"><u>{{ question.clue }} (perview)</u></a></td>
                  </ng-container>
                  <ng-template #sampleTd>
                    <td class="common_data">{{ question.clue }}</td>
                  </ng-template>
                  <td class="common_data" *ngIf="currentRound.questionType != 2">{{ question.ans }}</td>
                  <ng-container *ngIf="question.hints.length == 0; else hintTemplate">
                    <!-- <td class="common_data"></td> -->
                  </ng-container>
                  <ng-template #hintTemplate>
                    <td class="common_data" *ngFor="let hint of question.hints">{{ hint.value }}</td>
                  </ng-template>
                  <ng-container *ngIf="currentRound.questionType == 1">
                    <td class="common_data">{{ question.hints[0]?.positionCalss }}</td>
                  </ng-container>
                  <td *ngIf="currentRound.questionType != 2" [colSpan]="question.hints.length == 0 ? 2: undefined">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
                      <button class="btn-primary btn_table button" (click)=" editQuestionList(question)" *ngIf="currentRound.questionType != 5">EDIT</button>
                      <button class="btn-primary btn_table button" (click)=" deleteQuestionList(question.id)">DELETE</button>
                    </div>
                  </td>
                  <ng-container *ngIf="currentRound.questionType == 2">
                    <td class="common_data">
                      <select class="custom_select" (change)="choosePositionClass(positionCalss.value, question.id)" #positionCalss>
                        <option value="horizontal-cross-num" [selected]="'horizontal-cross-num' == question.hints[0]?.positionCalss">Horizontal</option>
                        <option value="vertical-cross-num" [selected]="'vertical-cross-num' == question.hints[0]?.positionCalss">Vertical</option>
                      </select>
                    </td>
                  </ng-container>
                </tr>
                <tr *ngIf="(currentRound.questionType == 4) && noDatabyCategory">
                  <td align="center" colspan="5">
                    <h6 style=" color: red ">*There is no question in table by category</h6>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="currentRound.questionArray.length == 0">
                <tr>
                  <td align="center" colspan="5">
                    <h6 style="color: red">*There is no question in table</h6>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class=" col-sm-2 "></div>
      </div>
    </div>
  </section>
</div>

<ng-template #content_setup let-modal>
  <div class=" bg_img ">
    <div class=" modal-header ">
      <h4 class=" modal-title " id=" modal-basic-title ">Word Whiz</h4>
      <button type=" button " class=" close " aria-label=" Close " (click)=" modal.dismiss( 'Cross click' ) ">
        <span aria-hidden=" true ">&times;</span>
      </button>
    </div>
    <div class=" modal-body " *ngIf=" checkModalType===1 ">
      <label>Are you sure to remove the ROUND {{ delRoundId }}?</label>
    </div>
    <div class=" modal-body " *ngIf=" checkModalType===0 ">
      <label>Do you want to change question type " {{ questionName }} "?<br />
        <span style=" color: red ">*All question and answer will be deleted from list !</span>
      </label>
    </div>
    <div class=" modal-body " *ngIf=" checkModalType===2 ">
      <label>Are you sure to go back?<br />
        <span style=" color: red ">* Make sure to save your questions before you go back to Home
          Screen.</span>
      </label>
    </div>
    <div class=" modal-body " *ngIf=" checkModalType===3 ">
      <label>Saved Success !</label>
    </div>
    <div class=" modal-body " *ngIf=" checkModalType===4 ">
      <label>Are you sure to remove the CATEGORY?</label>
    </div>
    <!-- add input field for new category -->
    <div class=" modal-body " *ngIf=" checkModalType===5 ">

      <div class="row pl40" style="text-align: center;">
        <div class="col-sm-12">
          <label class="common_label" [ngStyle]="{'visibility': invalidCategoryName ? '': 'hidden', 'color': 'red'}">
            *Already exist
            in theme list ! </label>
        </div>

        <div class="col-sm-12 ">
          <label class="common_label mr4">CATEGORY NAME : </label>
          <input type="text" class="common_input" [(ngModel)]="categoryName"
            (ngModelChange)="changedCategoryName($event)">

        </div>

      </div>
    </div>
    <div class=" modal-body " *ngIf=" checkModalType===6 ">
      <label>Are you sure to remove WORD?</label>
    </div>
    <div class=" modal-body " *ngIf=" checkModalType===7 ">
      <div class="col-sm-12">
        <label class="common_label" [ngStyle]="{'visibility': invalidWordName ? '': 'hidden', 'color': 'red'}">
          *Already exist
          in word list ! </label>
      </div>
      <div class="col-sm-12 ">
        <label class="common_label mr4 ">WORD NAME : </label>
        <input type="text" class="common_input mb15" [(ngModel)]="hintValueForR4"
          (ngModelChange)="checkDuplicateWord($event)">
      </div>
      <div class="col-sm-12 ">
        <label class="common_label mr4 ">HINT NAME : </label>
        <input type="text" class="common_input mb15" [(ngModel)]="clueValueForR4">
      </div>
      <div class="col-sm-12 ">
        <label class="common_label mr4 ">HINT FONT SIZE : </label>
        <input type="text" class="common_input mb15" [(ngModel)]="clueFontSizeForR4" OnlyNumber="true">
      </div>
      <div class="col-sm-12 ">
        <label class="common_label mr4 ">HINT FONT SIZE : </label>
        <input type="text" class="common_input mb15" [(ngModel)]="otClueFontSizeForR4" OnlyNumber="true">
      </div>
    </div>
    <div class=" modal-footer " *ngIf=" checkModalType !=3 ">
      <button type=" button " class=" button btn-add " (click)=" modal.dismiss( 'Cancel click' ) ">
        Cancel
      </button>
      <button type=" button " *ngIf=" checkModalType==2 " class=" button btn-add saveBack "
        (click)=" modal.close( 'SaveBack' ) ">
        Save & Back
      </button>
      <button type=" button " class=" button btn-add "
        [disabled]="(isEmptyCategoryName && checkModalType == 5) || invalidCategoryName || (isEmptyWordName && currentRound.questionType == 2) || invalidWordName"
        (click)=" modal.close( 'Back click' ) ">
        {{
        checkModalType == 1 || checkModalType == 4 || checkModalType == 6
        ? "Remove "
        : checkModalType == 2
        ? "Back "
        : checkModalType == 5 || checkModalType == 7 ? 'Save' : 'Change'
        }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #videoModal let-modal>
  <div class="setting_img">
      <div class='modal-header'>
          <h4 class=" modal-title " id=" modal-basic-title ">Word Whiz</h4>
          <button type=" button " class=" close " aria-label=" Close " (click)=" modal.dismiss( 'Cross click' ) ">
              <span aria-hidden=" true ">&times;</span>
          </button>
      </div>
      <div class=" modal-body ">
        <video width="320" height="240" autoplay controls [src]="vidoeUrl">
         </video>
      </div>
      <div class=" modal-footer ">
      </div>
  </div>
</ng-template>

