<div class="container-fluid home_body">
    <button ngbButtonLabel class="btn main_btn" (click)="openModal(content_setup, 2, '')">
        Go Back Home
    </button>
    <span class="title">EPISODE {{ episode.id }} <i class="fas fa-caret-down"></i></span>

    <!-- <button ngbButtonLabel class="btn save_btn" (click)="saveAll(content_setup)">
        <fa-icon class="save_icon" [icon]="faSave"></fa-icon>
      </button> -->

    <section>
        <div class="container-fluid mg_50">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 select_body">
                    <div class="form-group">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn common_input" id="dropdownBasic1" ngbDropdownToggle>
                                <p class="section_text">ROUND {{ control.currentRoundId }}</p>
                                <img [src]="Images.dropDown" class="drop_down_icon" />
                                <!-- <fa-icon [icon]="faPlayCircle" class="drop_down_icon"></fa-icon> -->
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let round of episode.rounds">
                                    <span class="roundDropDown" (click)="clickRound(round)">ROUND {{ round.id }}</span>
                                    <span>
                                        <fa-icon class="remove_icon" [icon]="faTimesCircle"
                                            (click)="openModal(content_setup, 1, round)">
                                        </fa-icon>
                                    </span>
                                </button>
                                <button ngbDropdownItem (click)="addRound()">
                                    Add New Round
                                    <span>
                                        <fa-icon class="add_icon" [icon]="faPlusCircle"></fa-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
<!-- Point -->
<div class="form-group">
    <label for="" class="common_label">
        POINT
    </label>
    <input type="text" class="common_input w_321" value="{{ currentRound.point }}" OnlyNumber="true" (keyup)="changePoint($event)" />

</div>
                
                        <div class="form-group">
                            <label class="common_label">ROUND AND ROUND NAME FONT
                                SIZE</label>
                            <input type="text" class="common_input w_321" [(ngModel)]="currentRound.roundNameFontSize" OnlyNumber="true" />
                        </div>
                    
                    <!-- choose category(theme) -->
                    <div class="form-group" *ngIf="currentRound.questionType == 4">
                        <label for=""  class="common_label"></label>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn common_input" id="dropdownBasic1" ngbDropdownToggle>
                                <p class="section_text">
                                    {{ currentCategory ? currentCategory.name : "Add New Theme" }}
                                </p>
                                <img [src]="Images.dropDown" class="drop_down_icon" />
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let category of currentRound.categories">
                                    <span class="roundDropDown"
                                        (click)="changeCategory(category)">{{ category.name }}</span>
                                    <span>
                                        <fa-icon class="remove_icon" [icon]="faTimesCircle"
                                            (click)="openModal(content_setup, 4, category)">
                                        </fa-icon>
                                    </span>
                                </button>
                                <button ngbDropdownItem (click)="openModal(content_setup, 5, categoryName)">
                                    Add New Theme
                                    <span>
                                        <fa-icon class="add_icon" [icon]="faPlusCircle"></fa-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn common_input" id="dropdownBasic1" ngbDropdownToggle>
                                <p class="section_text">
                                    {{
                        currentRound.name != ""
                          ? currentRound.name
                          : "Choose Question Type"
                      }}
                                </p>
                                <img [src]="Images.dropDown" class="drop_down_icon" />
                                <!-- <fa-icon [icon]="faPlayCircle" class="down_icon"></fa-icon> -->
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let questionType of wordWhiz.questionTypes" (click)="openModal(content_setup, 0, questionType)">
                                    {{ questionType.name }}
                                </button>
                            </div>
    
                        </div>
                    </div>
                    
                 
                    <div class="form-group ">
                        <label for=""  class="common_label">TIMEOUT</label>
                        <!-- <input type="text" class="common_input w_321" value="{{ currentRound.timeOut }}" (keypress)="numberOnly($event)" (keyup)="changeTimeout($event)" /> -->
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn common_input" id="dropdownBasic1" ngbDropdownToggle>
                                <p class="section_text">
                                    {{ currentRound.timeOut }}
                                </p>
                                <img [src]="Images.dropDown" class="drop_down_icon" />
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let timeout of timeoutList" (click)="addTimeout(timeout.value)">
                                    {{ timeout.value }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=""  class="common_label">CLUE FONT SIZE</label>
                        <input type="text" class="common_input w_321" [(ngModel)]="currentRound.clueLabelFontSize" OnlyNumber="true" />
                    </div>
                    <div class="form-group">
                        <label for="" class="common_label">PLAYER POINT FONT SIZE</label>
                        <input type="text" class="common_input w_321" [(ngModel)]="episode.players[0].pointFontSize" (ngModelChange)="changePlayerPointSize($event)" OnlyNumber="true" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-1"></div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 second_body">
                    <div class="form-group  question_txt" *ngIf="currentRound.questionType != 2">
                        <label for="" class="common_label"> QUESTION </label>
                        <span class="error_msg ml-5" *ngIf="invalidQuestion">*Already exist in question list !</span>
                        
                        <textarea type="text" class="common_input common_textarea" [(ngModel)]="question.clue" (ngModelChange)="questionClueChanged($event)"></textarea>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="" class="common_label">MAIN QUESTION FONT SIZE </label>
                                <input type="text" class="common_input w_30" [(ngModel)]="question.clueFontSize" OnlyNumber="true" (ngModelChange)="questionClueFontSizeChanged($event)">
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="common_label">ONE THIRD QUESTION FONT SIZE </label>
                                <input type="text" class="common_input w_30" [(ngModel)]="question.otClueFontSize" OnlyNumber="true" (ngModelChange)="questionClueFontSizeChanged($event)">
                            </div>
                        </div>
                    </div>

                    <!-- no hint -->
                    <div class="container-fluid" *ngIf="question.hints.length == 0">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <label for="" style="width:100px;" class="common_label">ANSWER</label>
                                    <input type="text" class="common_input w_100" [(ngModel)]="question.ans" (ngModelChange)="questionAnsChanged($event)" />
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="common_label">MAIN ANSWER FONT SIZE</label>
                                            <input type="text" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true" (ngModelChange)="questionAnsFontSizeChanged($event)" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                                            <input type="text" class="common_input w_30" [(ngModel)]="question.otAnsFontSize" OnlyNumber="true" (ngModelChange)="questionAnsFontSizeChanged($event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--     <div class="col-sm-4"></div> -->
                        </div>
                        <div class="col-sm-12 btn_wrapper">
                            <div class="btn-group btn-group-toggle btn_question">
                                <button class="btn-primary btn_box button" (click)="saveQuestion()" [disabled]="disabled()">
                                    OK
                                </button>
                                <button class="btn-primary btn_box button" (click)="cancel()">
                                    CANCEL
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- //! hint   -->
                    <div class="container-fluid" *ngIf="question.hints.length != 0">
                        <div *ngFor="let hint of question.hints; let hintIndex = index">
                            <ng-container *ngIf="currentRound.questionType == 1 || currentRound.questionType == 3">

                                <!-- //! hint show back of answer -->
                                <div class="row" *ngIf="hint.position == 2">
                                    <div class="col-sm-5">
                                        <div class="form-group ">
                                            <label for="" style="width:100px;" class="common_label">ANSWER</label>
                                            
                                            <input [readonly]="hint.id == 1 ? false : true" type="text" [ngClass]="
                            hint.id == 1
                              ? 'common_input w_100'
                              : 'common_input w_100 disabled'
                          " [(ngModel)]="question.ans" />
                                            
                                                <div>
                                                    <label class="common_label">MAIN ANSWER FONT SIZE</label>
                                                    <input type="text" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true" />
                                                </div>
                                                <div>
                                                    <label class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                                                    <input type="text" class="common_input w_30" [(ngModel)]="question.otAnsFontSize" OnlyNumber="true" />
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-2 exchange_wrapper">
                                        <img [src]="Images.exchange_icon" class="exchange_icon" (click)="exchangeHint(1, hint.id)" />
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="" style="width:100px;" class="common_label">HINT
                                                {{ question.hints.length <= 1 ? "": hint.id }}</label>
                                            
                                            <input type="text" class="common_input w_100" (keyup)="changeHint($event, hint.id)" value="{{ hint.value }}" />
                                            <div>
                                                <label class="common_label">MAIN HINT FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="hint.hintFontSize" OnlyNumber="true" />
                                            </div>
                                            <div>
                                                <label class="common_label">ONE THIRD HINT FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="hint.otHintFontSize" OnlyNumber="true" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //! hint show front of answer  -->
                                <div class="row" *ngIf="hint.position != 2">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="" style="width:100px;" class="common_label">HINT
                                                {{ question.hints.length <= 1 ? "" : hint.id }}</label>
                                            <span class="error_msg" *ngIf="invalidQuestion && currentRound.questionType == 4">*Already exist
                                                in
                                                question list !</span>
                                           
                                            <input type="text" class="common_input w_100" (keyup)="changeHint($event, hint.id)" value="{{ hint.value }}" />
                                            <div>
                                                <label class="common_label">MAIN HINT FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="hint.hintFontSize" OnlyNumber="true" />
                                            </div>
                                            <div>
                                                <label class="common_label">ONE THIRD HINT FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="hint.otHintFontSize" OnlyNumber="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 exchange_wrapper">
                                        <img [src]="Images.exchange_icon" class="exchange_icon" (click)="exchangeHint(2, hint.id)" />
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group ">
                                            <label for="" style="width:100px;" class="common_label">ANSWER</label>
                                            <input [readonly]="hint.id == 1 ? false : true" type="text" [ngClass]="
                            hint.id == 1
                              ? 'common_input w_100'
                              : 'common_input w_100 disabled'
                          " [(ngModel)]="question.ans" />
                                            <div>
                                                <label class="common_label">MAIN ANSWER FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true" />
                                            </div>
                                            <div>
                                                <label class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="question.otAnsFontSize" OnlyNumber="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 "></div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="currentRound.questionType == 4">
                                <div class="col-sm-12" style="padding: 0;">
                                    <div class="form-group">
                                        <label for="" style="width:100px;" class="common_label">HINT
                                            {{ question.hints.length <= 1 ? "": hint.id }}</label>
                                        
                                        <input type="text" class="common_input w_100" (keyup)="changeHint($event, hint.id)" value="{{ hint.value }}" />
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="common_label">MAIN HINT FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="hint.hintFontSize" OnlyNumber="true" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="common_label">ONE THIRD HINT FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="hint.otHintFontSize" OnlyNumber="true" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-12" style="padding: 0;" *ngIf="hintIndex == 2">
                                    <div class="form-group ">
                                        <label for="" style="width:100px;" class="common_label">ANSWER</label>
                                        <input type="text" class="common_input w_100" [(ngModel)]="question.ans" />
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="common_label">MAIN ANSWER FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="question.ansFontSize" OnlyNumber="true" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="common_label">ONE THIRD ANSWER FONT SIZE</label>
                                                <input type="text" class="common_input w_30" [(ngModel)]="question.otAnsFontSize" OnlyNumber="true" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <ng-container *ngIf="currentRound.questionType == 2">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="container" style="padding: 20px;">
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [11,12,13,14,15,16,17,18,19,110]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [21,22,23,24,25,26,27,28,29,210]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [31,32,33,34,35,36,37,38,39,310]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [41,42,43,44,45,46,47,48,49,410]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [51,52,53,54,55,56,57,58,59,510]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [61,62,63,64,65,66,67,68,69,610]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [71,72,73,74,75,76,77,78,79,710]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [81,82,83,84,85,86,87,88,89,810]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [91,92,93,94,95,96,97,98,99,910]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                        <div class="row" style="flex-wrap: initial;">
                                            <div class="col-sm" (click)="clickGrid(item)" class="alpha_text" style="border: 1px solid #4DB821; height: 32px;" *ngFor="let item of [101,102,103,104,105,106,107,108,109,1010]; let i = index" [id]="item">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" style="margin-top: 20px;">

                                        <div ngbDropdown class="d-inline-block" style="margin-bottom: 13%;width: 100%;">
                                            <label for="" class="common_label ">
                                                CATEGORY
                                            </label>
                                            <button style="width: 100%;" class="btn common_input" id="dropdownBasic1" ngbDropdownToggle>
                                                <p class="section_text">
                                                    {{ currentCategory ? currentCategory.name : "Add New Category" }}
                                                </p>
                                                <img [src]="Images.dropDown" class="drop_down_icon" />
                                            </button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                <button ngbDropdownItem *ngFor="let category of currentRound.categories">
                                                    <span class="roundDropDown"
                                                        (click)="changeCategory(category)">{{ category.name }}</span>
                                                    <span>
                                                        <fa-icon class="remove_icon" [icon]="faTimesCircle"
                                                            (click)="openModal(content_setup, 4, category)">
                                                        </fa-icon>
                                                    </span>
                                                </button>
                                                <button ngbDropdownItem (click)="openModal(content_setup, 5, categoryName)">
                                                    Add New Category
                                                    <span>
                                                        <fa-icon class="add_icon" [icon]="faPlusCircle"></fa-icon>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                        <div ngbDropdown class="d-inline-block" style="margin-bottom: 13%;width: 100%;">
                                            <label for="" class="common_label ">
                                                WORD
                                            </label>
                                            <button style="width: 100%;" class="btn common_input" id="dropdownBasic1" ngbDropdownToggle>
                                                <p class="section_text">
                                                    {{ currentWord ? currentWord.hints[0].value : "Select One Word" }}
                                                </p>
                                                <img [src]="Images.dropDown" class="drop_down_icon" />
                                            </button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                <button ngbDropdownItem *ngFor="let question of filterQuestion(currentRound.questionArray)">
                                                    <span class="roundDropDown"
                                                        (click)="clickHint(question)">{{ question.hints[0].value }}</span>
                                                    <span>
                                                        <fa-icon class="remove_icon" [icon]="faTimesCircle"
                                                            (click)="openModal(content_setup, 6, question.id)">
                                                        </fa-icon>
                                                    </span>
                                                </button>
                                                <button ngbDropdownItem (click)="openModal(content_setup, 7, hintValueForR4)">
                                                    Add New Word
                                                    <span>
                                                        <fa-icon class="add_icon" [icon]="faPlusCircle"></fa-icon>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                        <div style="margin-left:4px;margin-bottom: 13%;">
                                            <input type="radio" name="gridstatus" value="default" (change)="changeGridStatus($event)" /><label class="option_text">
                                                Add Word</label>
                                            <input type="radio" name="gridstatus" value="hint" (change)="changeGridStatus($event)" /><label class="option_text">
                                                Add Hint</label>
                                        </div>
                                        <button class="btn-primary btn_box button" style="width: 100%; margin-left: 5px !important;" (click)="clearWord(currentWord.hints[0].value )">
                                            Clear Word
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="col-sm-12 btn_wrapper" *ngIf="currentRound.questionType != 2">
                            <div class="btn-group btn-group-toggle btn_question">
                                <button class="btn-primary btn_box button" (click)="saveQuestion()" [disabled]="disabled()">
                                    OK
                                </button>
                                <button class="btn-primary btn_box button" (click)="cancel()">
                                    CANCEL
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid pad_b50">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 pad_0">
                    <div class="table_body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th  class="table_title">
                                        QUESTION</th>
                                    <th  class="table_title" *ngIf="currentRound.questionType != 2">ANSWER
                                    </th>
                                    <th class="table_title"  *ngFor="let hint of question.hints">
                                        HINT {{ question.hints.length
                                        <=1 ? "" : hint.id }} </th>
                                            <th class="table_title act_width text-center"   *ngIf="currentRound.questionType != 2">ACTION</th>
                                </tr>
                            </thead>
                            <!-- <thead>
                                <tr>
                                    <td>QUESTION</td>
                                    <td  *ngIf="currentRound.questionType != 2">ANSWER </td>
                                    <td *ngFor="let hint of question.hints">HINT {{ question.hints.length
                                        <=1 ? "" : hint.id }}</td>
                                    <td *ngIf="currentRound.questionType != 2">ACTION</td>
                                </tr>
                            </thead> -->
                            <tbody *ngIf="currentRound.questionArray.length > 0">
                                <tr *ngFor="let question of filterQuestion(currentRound.questionArray)">
                                    <td class=" common_data ">
                                        {{ question.clue }}</td>
                                    <td class=" common_data" *ngIf="currentRound.questionType != 2">{{ question.ans }}
                                    </td>
                                    <td class=" common_data " *ngFor=" let hint of question.hints ">
                                        {{ hint.value }}
                                    </td>
                                    <td *ngIf="currentRound.questionType != 2">
                                        <div class=" btn-group btn-group-toggle " ngbRadioGroup name=" radioBasic " [(ngModel)]=" model ">
                                            <button class=" btn-primary btn_table button " (click)=" editQuestionList(question) ">
                                                EDIT
                                            </button>
                                            <button class=" btn-primary btn_table button " (click)=" deleteQuestionList(question.id) ">
                                                DELETE
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="( currentRound.questionType == 4 || currentRound.questionType == 2 ) && noDatabyCategory">
                                    <td align=" center " colspan=" 5 ">
                                        <h6 style=" color: red ">*There is no question in table by category</h6>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf=" currentRound.questionArray.length==0 ">
                                <tr>
                                    <td align=" center " colspan=" 5 ">
                                        <h6 style=" color: red ">*There is no question in table</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class=" col-sm-2 "></div>
            </div>
        </div>
    </section>
</div>

<ng-template #content_setup let-modal>
    <div class=" bg_img ">
        <div class=" modal-header ">
            <h4 class=" modal-title " id=" modal-basic-title ">Word Whiz</h4>
            <button type=" button " class=" close " aria-label=" Close " (click)=" modal.dismiss( 'Cross click' ) ">
                <span aria-hidden=" true ">&times;</span>
            </button>
        </div>
        <div class=" modal-body " *ngIf=" checkModalType===1 ">
            <label>Are you sure to remove the ROUND {{ delRoundId }}?</label>
        </div>
        <div class=" modal-body " *ngIf=" checkModalType===0 ">
            <label>Do you want to change question type " {{ questionName }} "?<br />
                <span style=" color: red ">*All question and answer will be deleted from list !</span>
            </label>
        </div>
        <div class=" modal-body " *ngIf=" checkModalType===2 ">
            <label>Are you sure to go back?<br />
                <span style=" color: red ">* Make sure to save your questions before you go back to Home
                    Screen.</span>
            </label>
        </div>
        <div class=" modal-body " *ngIf=" checkModalType===3 ">
            <label>Saved Success !</label>
        </div>
        <div class=" modal-body " *ngIf=" checkModalType===4 ">
            <label>Are you sure to remove the CATEGORY?</label>
        </div>
        <!-- add input field for new category -->
        <div class=" modal-body " *ngIf=" checkModalType===5 ">

            <div class="row pl40" style="text-align: center;">
                <div class="col-sm-12">
                    <label class="common_label" [ngStyle]="{'visibility': invalidCategoryName ? '': 'hidden', 'color': 'red'}"> *Already exist
                        in theme list ! </label>
                </div>

                <div class="col-sm-12 ">
                    <label class="common_label mr4 ">CATEGORY NAME : </label>
                    <input type="text" class="common_input" [(ngModel)]="categoryName" (ngModelChange)="changedCategoryName($event)">

                </div>

            </div>
        </div>
        <div class=" modal-body " *ngIf=" checkModalType===6 ">
            <label>Are you sure to remove WORD?</label>
        </div>
        <div class=" modal-body " *ngIf=" checkModalType===7 ">
            <div class="col-sm-12">
                <label class="common_label" [ngStyle]="{'visibility': invalidWordName ? '': 'hidden', 'color': 'red'}">
                    *Already exist
                    in word list ! </label>
            </div>
            <div class="col-sm-12 ">
                <label class="common_label mr4 ">WORD NAME : </label>
                <input type="text" class="common_input" [(ngModel)]="hintValueForR4" (ngModelChange)="checkDuplicateWord($event)">
            </div>
            <div class="col-sm-12 ">
                <label class="common_label mr4 ">HINT NAME : </label>
                <input type="text" class="common_input" [(ngModel)]="clueValueForR4">
            </div>
            <div class="col-sm-12 ">
                <label class="common_label mr4 ">HINT FONT SIZE : </label>
                <input type="text" class="common_input" [(ngModel)]="clueFontSizeForR4" OnlyNumber="true">
            </div>
            <div class="col-sm-12 ">
                <label class="common_label mr4 ">HINT FONT SIZE : </label>
                <input type="text" class="common_input" [(ngModel)]="otClueFontSizeForR4" OnlyNumber="true">
            </div>
        </div>
        <div class=" modal-footer " *ngIf=" checkModalType !=3 ">
            <button type=" button " class=" button btn-add " (click)=" modal.dismiss( 'Cancel click' ) ">
                Cancel
            </button>
            <button type=" button " *ngIf=" checkModalType==2 " class=" button btn-add saveBack " (click)=" modal.close( 'SaveBack' ) ">
                Save & Back
            </button>
            <button type=" button " class=" button btn-add " [disabled]="(isEmptyCategoryName && checkModalType == 5) || invalidCategoryName || (isEmptyWordName && currentRound.questionType == 2) || invalidWordName" (click)=" modal.close( 'Back click' ) ">
                {{
              checkModalType == 1 || checkModalType == 4 || checkModalType == 6
                ? "Remove "
                : checkModalType == 2
                ? "Back "
                : checkModalType == 5 || checkModalType == 7 ? 'Save' : 'Change'
            }}
            </button>
        </div>
    </div>
</ng-template>