<!-- for onethird -->
<div style="display: none;">
    <div class="one-third-background"></div>
    <div class="one-third-wapper row">
        <div class="col-sm-3">
            <app-timer></app-timer>
        </div>
        <div class="col-sm-9">
            <app-typo-word-logic-onethird></app-typo-word-logic-onethird>
        </div>
    </div>
</div>

<!-- for cross-word onethird -->
<div style="display: block;">
    <div class="one-third-background-cross">
        <div class="one-third-wapper-cross row">
            <div class="left-wapper-cross">
                <app-timer></app-timer>
            </div>
            <div class="right-wapper-cross">
                <app-cross-word-logic-onethird></app-cross-word-logic-onethird>
            </div>
        </div>
    </div>
</div>