<div class="loader" [hidden]="!renderingAPNG"></div>
<div class="main_background non_select" id="main_background" [hidden]="renderingAPNG">
    <!-- header -->
    <section class="top-wrapper">
        <div class="col-sm-12 head-wrapper font{{control.fontSettings.main_roundName}}">
            <p [ngStyle]="{'font-size': currentRound.roundNameFontSize + 'px'}">
                ROUND <span class="round_number">{{ currentRound?.id }}</span>
            </p>
            <span> : </span>
            <p [ngStyle]="{'font-size': currentRound.roundNameFontSize + 'px'}">{{ currentRound?.name }}</p>
        </div>
    </section>
    <!-- End of Header -->

    <!-- body text -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-5  left-wrapper">
                <div class="apng-ani  mx-auto d-block"></div>
                <!-- <img [src]="Images.loading" class=" mx-auto d-block 
                    width{{control.fontSettings.main_timeOut}}" /> -->
                <!-- <div class="timer_center font{{control.fontSettings.main_timeOut}}" [ngClass]="counter$ > 3 ? 'timer' : 'timer_style'">{{ counter$ }} </div> -->
            </div>
            <div class="col-7">
                <div>
                    <p class="clude_txt" [ngStyle]="{'font-size': currentRound.clueLabelFontSize + 'px'}">CLUE:</p>
                    <img class="cube_img" name="cube_img" alt="" />
                    <ng-container *ngIf="currentRound.id != 2">
                        <span class="clude_hint" *ngIf="control.showQuestion  || control.runCategoryRound" [ngStyle]="{'font-size': currentQuestion.clueFontSize + 'px'}">{{ currentRound.hasCategory? categoryName : currentQuestion?.clue }}
                        </span>
                    </ng-container>

                </div>

                <div class="alpha_wrapper" *ngIf="control.showQuestion || control.runCategoryRound">

                    <!-- //! for round 1 and round 5 -->
                    <div *ngIf="currentQuestion?.hints.length == 0">
                        <div class="long_word_green animated heartBeat long_retangle{{control.fontSettings.main_answer}} " *ngIf="!currentQuestion?.isAnsCharacter">
                            <p class="one_word font{{control.fontSettings.main_answer}}" *ngIf="control.showAns">
                                {{ currentQuestion?.ans }}
                            </p>
                            <!-- <input type="text" name="" placeholder="helloworld"> -->
                        </div>
                        <!-- Round five -->
                        <div class="text-center " *ngIf="currentQuestion?.isAnsCharacter">
                            <div *ngIf="currentRound.questionType != 5">

                                <div class="one_word_green retangle{{control.fontSettings.main_answer}}" [ngClass]="char == ' ' ? 'hide_char': i==0 ? 'blue_bg animated heartBeat': 'animated heartBeat' " *ngFor="let char of ansCharArr; let i=index;">
                                    <!-- <p class="one_word font{{control.fontSettings.main_answer}}" [ngClass]="control.showAns || currentRound.showfirstAnsChar && i==0 ? 'animated zoomIn' : 'transparent'">
                                        {{char}}</p> -->
                                    <input type="text" [value]="char" class="round1_text" [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}" [ngClass]="control.showAns || currentRound.showfirstAnsChar && i==0 ? 'animated zoomIn' : 'transparent'">
                                </div>
                            </div>

                            <div *ngIf="currentRound.questionType == 5">
                                <div class="one_word_blue retangle{{control.fontSettings.main_answer}} " [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'green_bg' : char.visible && control.showAns , 'hide_char' : char.word == ' '}"
                                    *ngFor="let char of control.extraWord">

                                    <!-- <p class="one_word font{{control.fontSettings.main_answer}}" [ngClass]="
                                                control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && char.visible && !control.resetCount ||
                                                char.visible && !control.showAns && control.animationExtraWord == char.word && !control.fontSettingOpenClose && !control.resetCount ? 'animated zoomIn': 
                                                !char.visible  ? 'transparent': ''">
                                        {{char.word}}
                                    </p> -->
                                    <!-- class="roundthree_text" -->
                                    <input type="text" [value]="char.word" [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}" class="one_word font{{control.fontSettings.main_answer}}" [ngClass]="
                                    control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && char.visible && !control.resetCount ||
                                    char.visible && !control.showAns && control.animationExtraWord == char.word && !control.fontSettingOpenClose && !control.resetCount ? 'animated zoomIn': 
                                    !char.visible  ? 'transparent': ''" class="roundthree_text">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div *ngFor="let hint of currentQuestion?.hints; let i = index">
                            <!-- //! for position 0 top -->
                            <div class="text-center " *ngIf="hint.position == 0 && currentRound.id != 2">
                                <div class="long_word_blue longBlueRoundFour{{hint.value.length}} long_retangle{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount ? 'animated heartBeat':''"
                                    *ngIf="!hint?.isCharacter">
                                    <!-- <p class="word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''">
                                        {{ hint.value }}
                                    </p> -->
                                    <input type="text" placeholder="C" class="roundthree_text">
                                </div>
                                <br />
                                <div class="text-center mleft40" *ngIf="hint?.isCharacter">
                                    <div class="one_word_blue retangle{{control.fontSettings.main_hint}}" [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}" *ngFor="let char of hint.hintCharArr">
                                        <!-- <p class="one_word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                                            {{ char }}
                                        </p> -->
                                        <input type="text" [value]="char" [ngStyle]="{'font-size': currentQuestion.hints[0].hintFontSize + 'px'}" class="roundthree_text " [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">

                                    </div>
                                </div>
                                <br />
                                <div class="long_word_green pad_top long_retangle{{control.fontSettings.main_answer}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngIf="!currentQuestion?.isAnsCharacter">
                                    <p class="word animated zoomIn font{{control.fontSettings.main_answer}}" [ngClass]="control.showAns ? 'animated zoomIn' : 'transparent'">
                                        {{ currentQuestion?.ans }}
                                    </p>
                                </div>

                                <div class="text-center" *ngIf="currentQuestion?.isAnsCharacter">
                                    <div class="one_word_green retangle{{control.fontSettings.main_answer}}" [ngClass]="{'hide_char less8char': char == ' ' , 'animated heartBeat': control.startCount && round4hintAnimated && currentRound.showfirstAnsChar || control.showQuestion && !currentRound.showfirstAnsChar && !control.showAns && !control.startCount && !control.fontSettingOpenClose, 'blue_bg' : i == 0 && currentRound.showfirstAnsChar}"
                                        *ngFor="let char of ansCharArr; let i=index;">
                                        <!-- //! for round 4 -->
                                        <span *ngIf="currentRound.showfirstAnsChar">
                                            <!-- <p class="word font{{control.fontSettings.main_answer}}"
                                                [ngClass]="{'animated zoomIn' : control.showAns && i != 0, 'transparent' : !control.showAns && i != 0 }">
                                                {{char}}</p> -->
                                            <!-- <input type="text" placeholder="A" class="roundthree_text"> -->

                                        </span>
                                        <!-- //! for round 3 -->
                                        <span *ngIf="!currentRound.showfirstAnsChar">
                                            <!-- <p class="word font{{control.fontSettings.main_answer}}"
                                                [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount , 'transparent': !control.showAns && !control.clickPoint  || !control.showAns &&control.clickPoint}">
                                                {{char}}
                                            </p> -->

                                            <input type="text" [value]="char"
                                                [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount , 'transparent': !control.showAns && !control.clickPoint  || !control.showAns &&control.clickPoint}"
                                                [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}"
                                                class="roundthree_text">
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Round Two -->
                            <div class="col-sm-4 text-center float_left" *ngIf="hint.position == 0 && currentRound.id == 2">
                                <!-- longBlueRoundFour{{hint.value.length}} long_retangle{{control.fontSettings.main_hint}} -->
                                <div class="long_word_blue " [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount ? 'animated heartBeat':''" *ngIf="!hint?.isCharacter">
                                    <!-- <p class="word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''">
                                        {{ hint.value }}
                                    </p> -->
                                    <input type="text" [value]="hint.value" class="roundtwo" [ngStyle]="{'font-size': hint.hintFontSize + 'px'}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''">
                                </div>

                                <!-- long_retangle{{control.fontSettings.main_answer}} -->
                                <!-- <div class="long_word_green pad_top " [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngIf="currentQuestion?.isAnsCharacter && i == 2 && currentRound.id == 2">
                                     <p class="word animated zoomIn font{{control.fontSettings.main_answer}}" [ngClass]="control.showAns ? 'animated zoomIn' : 'transparent'">
                                        {{ currentQuestion?.ans }}
                                    </p> 
                                    <input type="text" placeholder="Round Two" class="roundtwo">
                                </div> -->
                            </div>
                            <!-- long_retangle{{control.fontSettings.main_answer}} -->
                            <div class="col-sm-4 text-center float_left roundtwo_long_text long_word_green pad_top " [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngIf="currentQuestion?.isAnsCharacter && i == 2 && currentRound.id == 2">
                                <!-- <p class="word animated zoomIn font{{control.fontSettings.main_answer}}" [ngClass]="control.showAns ? 'animated zoomIn' : 'transparent'">
                                    {{ currentQuestion?.ans }}
                                </p> -->
                                <input type="text" [value]="currentQuestion?.ans" [ngStyle]="{'font-size': currentQuestion?.ansFontSize + 'px'}" class="roundtwo" [ngClass]="control.showAns ? 'animated zoomIn' : 'transparent'">
                            </div>

                            <!-- //! Round Four -->
                            <div class="round_four" *ngIf="currentRound.hasCategory" style="margin-left: 25%;">
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [11,12,13,14,15,16,17,18,19,110]; let i = index" [id]="item">

                                    </div>
                                </div>
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [21,22,23,24,25,26,27,28,29,210]; let i = index" [id]="item">

                                    </div>
                                </div>
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [31,32,33,34,35,36,37,38,39,310]; let i = index" [id]="item">

                                    </div>
                                </div>
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [41,42,43,44,45,46,47,48,49,410]; let i = index" [id]="item">

                                    </div>
                                </div>
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [51,52,53,54,55,56,57,58,59,510]; let i = index" [id]="item">

                                    </div>
                                </div>
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [61,62,63,64,65,66,67,68,69,610]; let i = index" [id]="item">

                                    </div>
                                </div>
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [71,72,73,74,75,76,77,78,79,710]; let i = index" [id]="item">

                                    </div>
                                </div>
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [81,82,83,84,85,86,87,88,89,810]; let i = index" [id]="item">

                                    </div>
                                </div>
                                <div class="row" style="flex-wrap: initial;">
                                    <div class="col-sm" class="alpha_text" style="border: 1px solid #c9c9c9; height: 51px; width: 51px;" *ngFor="let item of [91,92,93,94,95,96,97,98,99,910]; let i = index" [id]="item">

                                    </div>
                                </div>
                            </div>

                            <!-- //! for position 1 left-->
                            <div class="text-center" *ngIf="hint.position == 1">
                                <div class="long_word_blue long_retangle{{control.fontSettings.main_hint}} longBlueRoundTwoLenght{{hint.value.length}} " [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                                    *ngIf="!hint?.isCharacter">
                                    <p class="word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                                        {{ hint.value }}
                                    </p>
                                    <input type="text" placeholder="Hello" class="">
                                </div>
                                <div *ngIf="hint?.isCharacter">
                                    <div class="one_word_blue retangle{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngFor="let char of hint.hintCharArr">
                                        <p class="one_word animated zoomIn font{{control.fontSettings.main_hint}}">
                                            {{ char }}</p>
                                        <input type="text" placeholder="Hello" class="">
                                    </div>
                                </div>
                                <div class="long_word_green long_retangle{{control.fontSettings.main_answer}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngIf="!currentQuestion?.isAnsCharacter">

                                    <p class="word font{{control.fontSettings.main_answer}}" [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                                        {{currentQuestion?.ans}}
                                    </p>
                                    <input type="text" placeholder="Hello" class="">
                                </div>
                                <span *ngIf="currentQuestion?.isAnsCharacter">
                                    <div class="one_word_green retangle{{control.fontSettings.main_answer}}"
                                        [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}"
                                        *ngFor="let char of ansCharArr">
                                        <p class="word font{{control.fontSettings.main_answer}}"
                                            [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns }">
                                            {{ char }}
                                        </p>
                                        <input type="text" placeholder="Hello" class="">
                                    </div>
                                </span>
                            </div>

                            <!-- //! for position 2 right -->
                            <div class="text-center" style="margin-top: 1%;" *ngIf="hint.position == 2">
                                <div class="long_word_green long_retangle{{control.fontSettings.main_answer}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngIf="!currentQuestion?.isAnsCharacter">


                                    <p class="word font{{control.fontSettings.main_answer}}" [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                                        {{currentQuestion?.ans}}
                                    </p>
                                    <input type="text" placeholder="Hello" class="">
                                </div>
                                <span *ngIf="currentQuestion?.isAnsCharacter">
                                    <div class="one_word_green retangle{{control.fontSettings.main_answer}}"
                                        [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}"
                                        *ngFor="let char of ansCharArr">
                                        <!-- <p class="word animated zoomIn font{{control.fontSettings.main_answer}}" *ngIf="control.showAns">
                                                {{ char }}</p> -->
                                        <p class="word font{{control.fontSettings.main_answer}}"
                                            [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                                            {{char}}
                                        </p>
                                        <input type="text" placeholder="Hello" class="">
                                    </div>
                                </span>
                                <div class="long_word_blue long_retangle{{control.fontSettings.main_hint}} longBlueRoundTwoLenght{{hint.value.length}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                                    *ngIf="!hint?.isCharacter">
                                    <p class="word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                                        {{ hint.value }}
                                    </p>
                                    <input type="text" placeholder="Hello" class="">
                                </div>
                                <div *ngIf="hint?.isCharacter">
                                    <div class="one_word_blue retangle{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngFor="let char of hint.hintCharArr">
                                        <p class="one_word animated zoomIn font{{control.fontSettings.main_hint}}">
                                            {{ char }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>