.main_background {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    // background: url(../../../../release/data/images/main_background.png) no-repeat;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    padding: 0px !important;
    background-color: #005e98 !important;
    position: fixed;
}

.main_background .top-wrapper {
    height: 27%;
    position: relative;
    width: 100%;
}

button {
    color: #fff !important;
    background-color: #333 !important;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 24px 32px;
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.head-wrapper {
    /*    background: blue; */
    text-align: center;
    color: #41faff;
    text-shadow: 1px 1px 1px #41faff, 1px 1px 5px #41faff, 1px 1px 5px #41faff;
    // text-align: center;
    //   font-size: 45px;
    // padding: 10px;
    margin-top: 3%;
    p {
        display: inline;
    }
    span {
        display: inline;
    }
}

// left side area
.left-wrapper {
    max-width: 37% !important;
    min-height: 410px;
}

.load_img {
    position: relative;
    width: 234px;
    margin: 170px;
    /* for IE 6 */
}

.timer {
    position: absolute;
    top: 200px;
    // font-size: 100px;
    letter-spacing: -1px;
    text-shadow: 3px 4px 3px #333333;
    color: #ffffff;
    /*   margin-left: -27px;
    margin-left: -70px; */
    width: 135px;
}

.timer_style {
    position: absolute;
    top: 53px;
    // font-size: 45px;
    color: #f00;
    width: 135px;
    text-align: center;
    text-shadow: 3px 4px 3px #333333;
    font-weight: bold;
}

.timer_img {
    background: url(../../../../release/data/images/timer/CountDown10.png) no-repeat;
    background: url(../../../assets/images/greenlong_bg.png) no-repeat;
}

.right-wrapper {
    position: fixed;
    height: 1000px;
    margin-left: 30%;
    /* top: 15%; */
}

.clude_txt {
    color: #41faff;
    text-shadow: 0 0 0.5em #41faff, 0 0 0.5em #41faff, 0 0 0.5em #41faff;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.clude_txt_four {
    top: 9% !important;
    left: 49% !important;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cube_img {
    position: absolute;
    top: 29%;
    left: 39%;
    transform: translate(-50%, -50%);
    width: 1000px;
}

.cube_img_four {
    left: 50% !important;
    width: 500px !important;
    top: 26% !important;
    height: 350px !important;
}

.clude_hint {
    position: absolute;
    top: 28%;
    left: 39%;
    transform: translate(-50%, -50%);
    /*   font-size: calc(0.3em + 1vw); */
    font-size: 20px;
    text-shadow: 1px 2px 2px #333333;
    color: #ffffff;
    font-weight: bold;
    width: 720px;
    line-height: 1.1;
    text-align: center;
}

.clude_hint_four {
    width: 380px;
    top: 25%;
    left: 50%;
}

.alpha_wrapper {
    top: 75%;
    left: 56%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
}

.poll {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 100px;
    border: 2px solid rgba(0, 150, 255, 0.91);
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #00ff00;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

// text-color style
.one_word_green {
    background: url(../../../assets/images/GREEN/green_blank.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-height: 60px;
    min-width: 105px;
    width: auto;
    // margin-left: -30px;
}

.one_word_blue {
    background: url(../../../assets/images/BLUE/blue_blank.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-height: 60px;
    min-width: 105px;
    width: auto;
    //margin-left: -30px;
}

.long_word_blue {
    width: calc(14em + 3vw);
    background: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-height: 60px;
}

.round_four_img {
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-width: 105px;
    margin-left: -30px;
    width: 560px;
    height: 120px;
    background-repeat: no-repeat;
}

.round_four_text {
    width: calc(14em + 3vw);
    // background: no-repeat;
    // -webkit-background-size: cover;
    // background-size: cover;
    // display: inline-block;
    // min-height: 60px;
    background: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 30px;
    width: 560px;
    color: #fff;
    background: none;
    border: none;
    height: 110px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}

.long_word_green {
    width: calc(14em + 3vw);
    background: url(../../../assets/images/greenlong_bg.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-height: 60px;
}

@media only screen and (max-width: 1650px) {
    .long_word_blue {
        margin-left: -35px;
    }
}

@media (min-width: 2280px) and (max-width: 3999px) {
    .long_word_blue {
        margin-left: -40px;
        @for $f from 1 through 150 {
            .font#{$f} {
                //padding: 20px !important;
            }
        }
    }
}

@media only screen and (min-width: 4000px) {
    .long_word_blue {
        margin-left: -50px;
    }
}

%Animation {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}

.block_animation {
    @extend %Animation;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.q-wrapper {
    margin-top: 30px;
}

.word {
    font-weight: bold;
    color: #fff;
    /* margin: 3%; */
    margin: 10px;
    text-shadow: 1px 4px 4px #555, 0 0 7.5em #000, 0 0 0.5em #000;
}

.one_word {
    font-weight: bold;
    color: #fff;
    /* padding-top: 10px; */
    margin: 10px;
    text-shadow: 1px 4px 4px #555, 0 0 7.5em #000, 0 0 0.5em #000;
}

.transparent {
    color: transparent !important;
    text-shadow: none;
}

.non_select {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

.hide_char {
    visibility: hidden;
}

// adjust font
@for $f from 1 through 1 {
    .font#{$f} {
        font-size: $f * 1px;
    }
    .width#{$f} {
        min-width: 100px;
        width: $f * 0.8%;
    }
}

.text_animation {
    animation-name: text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-name: text;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}

@-moz-keyframes text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 2;
    }
}

@-webkit-keyframes text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 2;
    }
}

@keyframes text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 2;
    }
}

@for $f from 1 through 150 {
    @if $f>=100 {
        .width#{$f} {
            /*         min-width: 700px;
            margin-left: -50px !important; */
            width: $f * 1%;
        }
    }
    @else {
        .width#{$f} {
            min-width: 350px;
            width: $f * 1%;
        }
    }
}

.left_div {
    height: 91%;
    position: fixed;
}

.right_div {
    height: 91%;
    position: fixed;
    margin-left: 33.3%;
}

.timer_center {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cube_img_center {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42%;
}

.clue_center {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green_bg {
    width: auto;
    background: url(../../../assets/images/GREEN/green_blank.png) no-repeat;
    background-size: cover;
    display: inline-block;
    min-height: 60px;
    position: relative;
    padding: 0;
    min-width: 105px;
}

.blue_bg {
    width: auto;
    background: url(../../../assets/images/BLUE/blue_blank.png) no-repeat;
    background-size: cover;
    display: inline-block;
    min-height: 60px;
    position: relative;
    padding: 0;
    min-width: 105px;
}

// Adjust blue rectangle hint row alignment
.mleft18 {
    margin-left: 18%;
}

.roundthree_body {
    margin-left: 18%;
    width: 100%;
}

//* Text in green capsule
@for $f from 1 through 150 {
    @if $f>=11 {
        .clue_fontsize#{$f} {
            font-size: 28px;
        }
    }
    @else if $f<=10 {
        .clue_fontsize#{$f} {
            font-size: 35px;
        }
    }
    @media (min-width: 1601px) and (max-width: 1980px) {
        @if $f==11 {
            .clue_fontsize#{$f} {
                font-size: 48px;
                width: 370px;
            }
        }
        @else if $f==12 {
            .clue_fontsize#{$f} {
                font-size: 46px;
                width: 370px;
            }
        }
        @else if $f==13 {
            .clue_fontsize#{$f} {
                font-size: 44px;
                width: 370px;
            }
        }
        @else if $f==14 {
            .clue_fontsize#{$f} {
                font-size: 42px;
                width: 370px;
            }
        }
        @else if $f==15 {
            .clue_fontsize#{$f} {
                font-size: 41px;
                width: 370px;
            }
        }
        @else if $f==16 {
            .clue_fontsize#{$f} {
                font-size: 28px;
                width: 370px;
            }
        }
        @else if $f==17 {
            .clue_fontsize#{$f} {
                font-size: 26px;
                width: 370px;
            }
        }
        @else if $f<=10 {
            .clue_fontsize#{$f} {
                font-size: 53px !important;
                width: 380px !important;
            }
        }
        @else if $f==18 {
            .clue_fontsize#{$f} {
                font-size: 48px !important;
                width: 380px !important;
            }
        }
        @else if $f>=19 {
            .clue_fontsize#{$f} {
                font-size: 28px !important;
                width: 380px !important;
            }
        }
    }
    @media (min-width: 2280px) and (max-width: 3999px) {
        @if $f>=11 {
            .clue_fontsize#{$f} {
                font-size: 70px !important;
                width: 500px !important;
            }
        }
        @else if $f<=10 {
            .clue_fontsize#{$f} {
                font-size: 100px !important;
                width: 700px !important;
            }
        }
    }
    @media only screen and (min-width: 4000px) {
        @if $f>=11 {
            .clue_fontsize#{$f} {
                font-size: 90px !important;
                width: 750px !important;
            }
        }
        @else if $f<=10 {
            .clue_fontsize#{$f} {
                font-size: 150px !important;
                width: 700px !important;
            }
        }
    }
}

//* End of text in green capsule
//* Start short_retangle alphabet
@for $retangle_font from 1 through 150 {
    @if $retangle_font==100 {
        .retangle#{$retangle_font} {
            min-width: 185px !important; //! 2880px screen
            margin-left: -45px !important;
            /*
            Close comment by KHA
            .one_word {
                margin-top: 8px !important;
            } */
        }
    }
    @else if $retangle_font==150 {
        .retangle#{$retangle_font} {
            min-width: 300px !important;
            margin-left: -80px !important;
        }
        /*
    Close comment by KHA
    .one_word {
            padding-top: 5px !important;
        } */
    }
}

//*End  Start short_retangle alphabet
@for $retangle_font from 1 through 150 {
    @if $retangle_font==100 {
        .long_retangle#{$retangle_font} {
            width: 500px !important;
        }
    }
    @else if $retangle_font==150 {
        .long_retangle#{$retangle_font} {
            width: 800px !important;
        }
    }
}

//Start Long word Blue
@for $length from 1 through 20 {
    @if $length==9 {
        .longBlueRoundFour#{$length} {
            width: calc(20em + 3vw) !important;
            padding-left: 15px;
            padding-top: 10px;
        }
    }
    @else if $length<=5 {
        .longBlueRoundFour#{$length} {
            width: calc(17em + 3vw) !important;
            padding-left: 0px;
            padding-top: 6px;
        }
    }
    @else if $length==6 {
        .longBlueRoundFour#{$length} {
            width: calc(20em + 3vw) !important;
            padding-left: 15px;
            padding-top: 8px;
        }
    }
    @else if $length==7 {
        .longBlueRoundFour#{$length} {
            width: calc(23em + 3vw) !important;
            padding-left: 15px;
            padding-top: 10px;
        }
    }
    @else if $length==8 {
        .longBlueRoundFour#{$length} {
            width: calc(20em + 3vw) !important;
            padding-left: 15px;
            padding-top: 10px;
        }
    }
    @else if $length==10 {
        .longBlueRoundFour#{$length} {
            width: calc(23em + 3vw) !important;
            padding-left: 15px;
            padding-top: 10px;
        }
    }
    @else if $length==11 {
        .longBlueRoundFour#{$length} {
            width: calc(25em + 3vw) !important;
            padding-left: 15px;
            padding-top: 10px;
        }
    }
    @else if $length==12 {
        .longBlueRoundFour#{$length} {
            width: calc(28em + 3vw) !important;
            padding-left: 15px;
            padding-top: 10px;
        }
    }
    @else if $length>=13 {
        .longBlueRoundFour#{$length} {
            width: calc(34em + 3vw) !important;
            padding-left: 30px;
            padding-top: 15px;
        }
    }
}

@media (min-width: 2280px) and (max-width: 3999px) {
    @for $length from 1 through 20 {
        @if $length<=8 {
            .longBlueRoundFour#{$length} {
                width: calc(35em + 3vw) !important;
                padding-left: 15px;
                padding-top: 10px;
            }
        }
        @else if $length==9 {
            .longBlueRoundFour#{$length} {
                width: calc(40em + 3vw) !important;
                padding-left: 15px;
                padding-top: 10px;
            }
        }
        @else if $length==10 {
            .longBlueRoundFour#{$length} {
                width: calc(50em + 3vw) !important;
                padding-left: 37px;
                padding-top: 10px;
            }
        }
        @else if $length==11 {
            .longBlueRoundFour#{$length} {
                width: calc(60em + 3vw) !important;
                padding-left: 37px;
                padding-top: 23px;
            }
        }
        @else if $length>=12 {
            .longBlueRoundFour#{$length} {
                width: calc(65em + 3vw) !important;
                padding-left: 40px;
                padding-top: 23px;
            }
        }
    }
}


/* @media (min-width: 1600px) and (max-width: 2900px) { */

@media only screen and (min-width: 2880px) {
    .left-wrapper {
        min-height: 1000px;
    }
}


/* .less8char {
  display: inline;
} */

@for $length from 1 through 20 {
    .longBlueRoundTwoLenght#{$length} {
        margin-left: -37px;
    }
}

// Round one
.round1_text {
    width: 110px;
    text-align: center;
    margin: 0;
    height: 107px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 8px;
    color: #fff;
}

//Round two
.float_left {
    float: left;
}

.roundtwo_long_text {
    left: 36.5%;
    margin-top: 50px;
    .roundtwo {
        border: none;
        background: none;
        outline: none;
        text-align: center;
        font-size: 37px;
        height: 39px;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 222px;
        color: #fff;
    }
}

.roundtwo {
    border: none;
    background: none;
    outline: none;
    text-align: center;
    font-size: 37px;
    height: 39px;
    position: absolute;
    top: 51%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 261px;
    color: #fff;
}

.roundthree_text {
    width: 70px;
    text-align: center;
    margin: 0;
    height: 107px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-top: 0px;
    padding-bottom: 8px;
    color: #fff;
}

.round_four {
    margin-left: 9%;
    margin-top: -9%;
}

.alpha_text {
    height: 60px !important;
    width: 60px !important;
    text-align: center;
    padding: 1.5%;
    font-weight: bold;
    border: 1px solid #6d8bc3 !important;
    color: #fff;
    background-size: cover !important;
    padding: 0px !important;
    border: none !important;
}

.mtm60 {
    margin-top: -60px;
}

.mrl18 {
    margin-left: 18px;
}

// .grid_bg {
//     background: url(../../../assets/images/BLUE/blue_blank.png) no-repeat;
// }

.alpha_img {
    background: url('../../../assets/images/GREEN/B.png') no-repeat;
}

.mtm20 {
    margin-top: -20%;
}

.roundtwo_box {
    // background: url(../../../assets/images/round_two_box.png) no-repeat;
    width: 75%;
    height: 100px;
    /*   margin-left: -90px; */
    margin-top: -60px;
}

.roundtwohit {
    color: white;
    position: absolute;
    left: 3%;
    background: none;
    border: none;
    width: 70%;
    font-size: 33px;
    text-align: center;
    top: -8%;
    padding-top: 11px;
    height: 70px;
}

.roundtwo_alpha_body {
    margin-left: 15%;
    margin-top: 4%;
}

.timer-top {
    margin-top: 80px;
}

.timer-top-r4 {
    padding-top: 180px;
}

.alpha_wrapper_r4 {
    top: 38% !important;
}

//Round Three
.one_word_blue_three,
.one_word_green_three {
    background-size: contain;
    display: inline-block;
    min-width: 77px;
    .roundthree_text {
        width: 70px;
        text-align: center;
        margin: 0;
        height: 81px;
        background: none;
        border: none;
        font-size: 45px;
        outline: none;
        margin-left: 1px;
        padding-top: 0px;
        padding-bottom: 8px;
        color: #fff;
    }
}

.answer_four {
    margin-top: 30px;
    float: left;
    text-align: center;
    width: 100%;
    margin-left: -62px;
}

// round five
.video_body{
    margin-left: 50px;
    height: 604px;
    margin-top: -7%;
}
.videoName{
    width: 79% !important;
}

//round seven
.roundseven_box{
    height: 310px;
    width: 1250px;
    z-index: -1;
    margin-left: -65px;
    display: block;
}
.roundseven_text{
    color: white;
    background: none;
    border: none;
    font-size: 60px;
    // padding-top: 11px;
    // height: 57px;
    // margin-top: 25px;
    text-align: center;
    width: 59px;
    top: -235px;
    position: relative;
    // left: -60px;

}
.green_answer_text{
    background:url(../../../assets/images/GREEN/green_blank.png) no-repeat;
    background-size: cover;
    margin-top: 9px;
    text-align: center;
    width: 60px;
    height: 104px;
    margin-top: -10px;
}
.roundseven_answer{
    margin-left: -9%;
    position: absolute;
    margin-top: -14%;
}

//round 3 text

.round_three_word{
    background: none;
    text-align: center;
    width: 60px;
    border: none;
    color: #fff;
    font-size: 37px;
    height: 49px;
    margin-top: 4px;
}

.vertical-cross-num{
    position: relative;
    top: -22px;
    right: 0PX;
    background: blue;
    font-size: 16px;
    padding: 0px;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    display: inline-table;
}

.horizontal-cross-num{
    position: relative;
    top: -46px;
    right: 0PX;
    background: red;
    font-size: 16px;
    padding: 0px;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    display: inline-table;
}