<div class="loader" [hidden]="!renderingAPNG"></div>
<div class="main_background non_select" id="main_background" [hidden]="renderingAPNG">
    <!-- header -->
    <section class="top-wrapper" *ngIf="currentRound">
        <div class="col-sm-12 head-wrapper font{{control.fontSettings.main_roundName}}">
            <p [ngStyle]="{'font-size': currentRound.roundNameFontSize + 'px'}">
                <span class="round_number">{{ currentRound?.roundName }}</span>
            </p>
            <span> : </span>
            <p [ngStyle]="{'font-size': currentRound.roundNameFontSize + 'px'}">{{ currentRound?.name }}</p>
        </div>
    </section>
    <!-- End of Header -->

    <!-- body text -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 mt10 left-wrapper">
                <!-- Round 4 Cube -->
                <div [hidden]="!currentRound && currentRound?.questionType == 4">
                    <p class="clude_txt clude_txt_four" [ngStyle]="{'font-size': currentRound.clueLabelFontSize + 'px'}" *ngIf="currentRound && currentRound.questionType == 4">提示:</p>
                    <img class="cube_img cube_img_four" name="r4_cube_img" alt="" />
                    <span class="clude_hint clude_hint_four" [ngStyle]="{'font-size': currentQuestion?.clueFontSize + 'px'}" *ngIf="(control.showQuestion  || control.runCategoryRound) && currentRound.questionType == 4">{{ currentQuestion?.clue }}
                    </span>
                </div>

                <div class="apng-ani mx-auto d-block" [ngClass]="{'timer-top': currentRound && (currentRound?.questionType == 1 || currentRound?.questionType == 3 || currentRound?.questionType == 5 || currentRound?.questionType == 2), 'timer-top-r4': currentRound?.questionType == 4}">
                </div>
                <!-- <img [src]="Images.loading" class=" mx-auto d-block
                    width{{control.fontSettings.main_timeOut}}" />
                <div class="timer_center font{{control.fontSettings.main_timeOut}}" [ngClass]="counter$ > 3 ? 'timer' : 'timer_style'">{{ counter$ }} </div> -->
            </div>
            <div class="col-8">
                <div [hidden]="!currentRound && currentRound?.questionType != 4">
                    <p class="clude_txt" [ngStyle]="{'font-size': currentRound.clueLabelFontSize + 'px'}" *ngIf="currentRound && (currentRound?.questionType == 1 || currentRound?.questionType == 3 || currentRound?.questionType == 6)">
                        提示:
                    </p>
                    <img class="cube_img" name="cube_img" alt="" />
                    <span class="clude_hint" [ngStyle]="{'font-size': currentQuestion?.clueFontSize + 'px'}" *ngIf="currentRound && (control.showQuestion  || control.runCategoryRound) && (currentRound?.questionType == 1 || currentRound?.questionType == 3 || currentRound?.questionType == 6)">{{ currentQuestion?.clue }}
                    </span>
                </div>
                <div [ngStyle]="{'visibility': currentRound && currentRound.questionType == 2 && control.showQuestion ?  'unset': 'hidden'}">
                    <div>
                        <img src="./assets/images/round_two_box.png" class="roundtwo_box" alt="">
                        <input [value]="currentQuestion?.clue" [ngStyle]="{'font-size':  currentQuestion?.clueFontSize + 'px'}" class="roundtwohit" />
                    </div>

                </div>
                <div *ngIf="currentRound && currentRound.questionType == 2 && this.prevCategoryId == this.currentQuestion.categoryId" class="roundtwo_alpha_body">
                    <!-- <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text grid_bg alpha_img">

                        </div>
                    </div> -->
                    <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text" style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [11,12,13,14,15,16,17,18,19,110]; let i = index" [id]="item+'_bg'" >
                            <input type="text" class="round_three_word" [id]="item+'_val'">
                        </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text" style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [21,22,23,24,25,26,27,28,29,210]; let i = index" [id]="item+'_bg'">
                            <input type="text" class="round_three_word" [id]="item+'_val'">
                        </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [31,32,33,34,35,36,37,38,39,310]; let i = index" [id]="item+'_bg'">
                            <input type="text" class="round_three_word" [id]="item+'_val'">
                        </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [41,42,43,44,45,46,47,48,49,410]; let i = index" [id]="item+'_bg'">
                            <input type="text" class="round_three_word" [id]="item+'_val'">
                        </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [51,52,53,54,55,56,57,58,59,510]; let i = index" [id]="item+'_bg'">
                            <input type="text" class="round_three_word" [id]="item+'_val'">
                        </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [61,62,63,64,65,66,67,68,69,610]; let i = index" [id]="item+'_bg'">
                            <input type="text" class="round_three_word" [id]="item+'_val'">
                        </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [71,72,73,74,75,76,77,78,79,710]; let i = index" [id]="item+'_bg'">
                            <input type="text" class="round_three_word" [id]="item+'_val'">
                        </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                        <div class="col-sm" class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [81,82,83,84,85,86,87,88,89,810]; let i = index" [id]="item+'_bg'">
                            <input type="text" class="round_three_word" [id]="item+'_val'">
                        </div>
                    </div>
                    <div class="row" style="flex-wrap: initial;">
                      <div class="col-sm" class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png') no-repeat;" *ngFor="let item of [91,92,93,94,95,96,97,98,99,910]; let i = index" [id]="item+'_bg'">
                          <input type="text" class="round_three_word" [id]="item+'_val'">
                      </div>
                  </div>
                </div>
                <!-- Round Five -->
                <div class="video_body" *ngIf="currentRound?.questionType == 5">
                    <ng-container *ngIf="!control.showQuestion">
                        <img  src="./assets/images/Round_05_DoodleBG.png" style="width: 79%;height: 93%;margin-top: 17px;">
                    </ng-container>
                    <ng-container *ngIf="control.showQuestion">
                        <app-round-five [videoName]="currentQuestion?.clue" [currentEpisodeId]="episode.id" [isPlay]="control.isPlay"></app-round-five>
                    </ng-container>
                   
                  
                </div>
                <div class="alpha_wrapper" [ngClass]="{'alpha_wrapper_r4': currentRound.questionType == 4}" *ngIf="control.showQuestion || control.runCategoryRound">

                    <!-- //! for round 1 and round 5 -->
                    <div *ngIf="currentQuestion?.hints.length == 0 || (currentRound.questionType == 1 && currentQuestion.hints.length == 1)">
                        <div class="long_word_green animated heartBeat long_retangle{{control.fontSettings.main_answer}} " *ngIf="!currentQuestion?.isAnsCharacter">
                            <p class="one_word font{{control.fontSettings.main_answer}}" *ngIf="control.showAns">
                                {{ currentQuestion?.ans }}
                            </p>
                        </div>
                        <div class="text-center " *ngIf="currentQuestion?.isAnsCharacter">
                            <div style="text-align: center;margin-left: -34%;" *ngIf="currentRound.questionType != 5">

                                <div class="one_word_green retangle{{control.fontSettings.main_answer}}" [ngClass]="char == ' ' ? 'hide_char': i==0 && currentRound.questionType == 1 ? 'blue_bg animated heartBeat': 'animated heartBeat' " *ngFor="let char of ansCharArr; let i=index;">
                                    <!-- <p class="one_word font{{control.fontSettings.main_answer}}" [ngClass]="control.showAns || currentRound.showfirstAnsChar && i==0 ? 'animated zoomIn' : 'transparent'">
                                        {{char}}</p> -->
                                    <input *ngIf="!(currentRound.questionType==1 && currentQuestion.hints.length)" type="text" [value]="char" class="round1_text"
                                    [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}"
                                    [ngClass]="control.showAns ?
                                     'animated zoomIn ' : 'transparent'"
                                     >

                                    <input *ngIf="currentRound.questionType==1 && currentQuestion.hints.length" type="text" [value]="control.showAns? char : hints" class="round1_text" [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}"
                                    [ngClass]="control.showAns ||
                                    currentRound.showfirstAnsChar &&
                                    i==0 ? 'animated zoomIn' : 'transparent'"
                                    >
                                </div>
                            </div>
                            <div style="margin-left: -30%; margin-top:27%" *ngIf="currentRound.questionType == 5">
                                <div class="one_word_blue retangle{{control.fontSettings.main_answer}} " [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'green_bg' : char.visible && control.showAns , 'hide_char' : char.word == ' '}"
                                    *ngFor="let char of control.extraWord">

                                    <!-- <p class="one_word font{{control.fontSettings.main_answer}}" [ngClass]="
                                                control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && char.visible && !control.resetCount ||
                                                char.visible && !control.showAns && control.animationExtraWord == char.word && !control.fontSettingOpenClose && !control.resetCount ? 'animated zoomIn':
                                                !char.visible  ? 'transparent': ''">
                                        {{char.word}}
                                    </p> -->
                                    <input type="text" [value]="char.word" [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}" class="one_word font{{control.fontSettings.main_answer}}" [ngClass]="
                                    control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && char.visible && !control.resetCount ||
                                    char.visible && !control.showAns && control.animationExtraWord == char.word && !control.fontSettingOpenClose && !control.resetCount ? 'animated zoomIn':
                                    !char.visible  ? 'transparent': ''" class="round1_text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!(currentQuestion.hints.length == 1 && currentRound.questionType == 1)">
                    <div *ngFor="let hint of currentQuestion?.hints; let hintIndex = index">
                        <!-- //! for question type four -->
                        <div class="text-center" *ngIf="currentRound.questionType == 4">
                            <div class="round_four_img " style="float: left;" [ngStyle]="{'background-image': 'url(' + control.roundFourStatus[0].imagePath + ')'}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount == timerEnum.START ? 'animated heartBeat':''"
                                *ngIf="!hint?.isCharacter && hintIndex == 0">
                                <input class="round_four_text" [ngStyle]="{'font-size': hint?.hintFontSize + 'px'}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''" [value]="hint.value" />
                            </div>
                            <div class="round_four_img " [ngStyle]="{'background-image': 'url(' + control.roundFourStatus[1].imagePath + ')'}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount == timerEnum.START ? 'animated heartBeat':''"
                                *ngIf="!hint?.isCharacter && hintIndex == 1">
                                <input class="round_four_text" [ngStyle]="{'font-size': hint?.hintFontSize + 'px'}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''" [value]="hint.value" />
                            </div>
                            <div class="round_four_img " style="    display: block;margin-left: 23%;" [ngStyle]="{'background-image': 'url(' + control.roundFourStatus[2].imagePath + ')'}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount == timerEnum.START ? 'animated heartBeat':''"
                                *ngIf="!hint?.isCharacter && hintIndex == 2">
                                <input class="round_four_text" [ngStyle]="{'font-size': hint?.hintFontSize + 'px'}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''" [value]="hint.value" />
                            </div>
                            <!-- <ng-container *ngIf="hintIndex == 2 && control.showAns"> [ngStyle]="{'visibility': hintIndex == 2 && control.showAns ? 'unset': 'hidden'}"-->
                            <!-- <div style="margin-left: -8%; margin-top: 5%;" *ngIf="hintIndex == 2">
                                <div class="one_word_green retangle{{control.fontSettings.main_answer}}" [ngClass]="{'hide_char less8char': char == ' '}" *ngFor="let char of ansCharArr; let i=index;" [ngStyle]="{'visibility': hintIndex == 2 && control.showAns ? 'unset': 'hidden'}">

                                    <span *ngIf="currentRound.showfirstAnsChar">
                                        <input class="round1_text"
                                            [ngStyle]="{'font-size': currentQuestion?.ansFontSize + 'px'}"
                                            [value]="char" />
                                    </span>
                                </div>
                            </div> -->

                            <!-- </ng-container> -->

                        </div>
                        <!-- //! for position 0 top -->
                        <div style="margin-left: -23%;" class="text-center " *ngIf="hint.position == 0 && currentRound.questionType != 7">
                            <div class="long_word_blue longBlueRoundFour long_retangle" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount == timerEnum.START ? 'animated heartBeat':''"
                                *ngIf="!hint?.isCharacter">
                                <p class="word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''">
                                    {{ hint.value }}
                                </p>
                            </div>
                            <br />
                            <div class="text-left roundthree_body" *ngIf="hint?.isCharacter">
                                <div class="one_word_blue one_word_blue_three text-center retangle{{control.fontSettings.main_hint}}" [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}"
                                    *ngFor="let char of hint.hintCharArr">
                                    <!-- <p class="one_word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                                            {{ char }}
                                        </p> -->
                                    <input type="text" [value]="char" [ngStyle]="{'font-size': currentQuestion.hints[0].hintFontSize + 'px'}" class="roundthree_text " [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                                </div>
                            </div>
                            <br />
                            <div class="long_word_green pad_top long_retangle{{control.fontSettings.main_answer}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngIf="!currentQuestion?.isAnsCharacter">
                                <!-- <p class="word animated zoomIn font{{control.fontSettings.main_answer}}" [ngClass]="control.showAns ? 'animated zoomIn' : 'transparent'">
                                        {{ currentQuestion?.ans }}
                                    </p> -->
                            </div>
                            <div class="text-left roundthree_body" *ngIf="currentQuestion?.isAnsCharacter">
                                <div class="one_word_green one_word_green_three text-center retangle{{control.fontSettings.main_answer}}" [ngClass]="{'hide_char less8char': char == ' ' , 'animated heartBeat': control.startCount && round4hintAnimated && currentRound.showfirstAnsChar || control.showQuestion && !currentRound.showfirstAnsChar && !control.showAns && control.startCount == timerEnum.STOP && !control.fontSettingOpenClose, 'blue_bg' : i == 0 && currentRound.showfirstAnsChar}"
                                    *ngFor="let char of ansCharArr; let i=index;">
                                    <!-- //! for round 4 -->
                                    <span *ngIf="currentRound.showfirstAnsChar">
                                        <p class="word font{{control.fontSettings.main_answer}}"
                                            [ngClass]="{'animated zoomIn' : control.showAns && i != 0, 'transparent' : !control.showAns && i != 0 }">
                                            {{char}}</p>
                                    </span>
                                    <!-- //! for round 3 -->
                                    <span *ngIf="!currentRound.showfirstAnsChar">
                                        <!-- <p class="word font{{control.fontSettings.main_answer}}"
                                                [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount , 'transparent': !control.showAns && !control.clickPoint  || !control.showAns &&control.clickPoint}">
                                                {{char}}
                                            </p> -->
                                        <input type="text" [value]="char"
                                            [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount , 'transparent': !control.showAns && !control.clickPoint  || !control.showAns &&control.clickPoint}"
                                            [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}"
                                            class="roundthree_text">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- //! for position 1 left-->
                        <div style="margin-left: -23%;" class="text-center" *ngIf="hint.position == 1 && currentRound.questionType != 4">
                            <div class="long_word_blue long_retangle{{control.fontSettings.main_hint}} longBlueRoundTwoLenght{{hint.value.length}} " [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                                *ngIf="!hint?.isCharacter">
                                <p class="word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                                    {{ hint.value }}
                                </p>
                            </div>
                            <div *ngIf="hint?.isCharacter">
                                <div class="one_word_blue retangle{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngFor="let char of hint.hintCharArr">
                                    <p class="one_word animated zoomIn font{{control.fontSettings.main_hint}}">
                                        {{ char }}</p>
                                </div>
                            </div>
                            <div class="long_word_green long_retangle{{control.fontSettings.main_answer}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngIf="!currentQuestion?.isAnsCharacter">

                                <p class="word font{{control.fontSettings.main_answer}}" [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                                    {{currentQuestion?.ans}}
                                </p>
                            </div>
                            <span *ngIf="currentQuestion?.isAnsCharacter">
                                <div class="one_word_green retangle{{control.fontSettings.main_answer}}"
                                    [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}"
                                    *ngFor="let char of ansCharArr">
                                    <p class="word font{{control.fontSettings.main_answer}}"
                                        [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns }">
                                        {{ char }}
                                    </p>
                                </div>
                            </span>
                        </div>

                        <!-- //! for position 2 right -->
                        <div class="text-center" style="margin-top: 1%;" *ngIf="hint.position == 2 && currentRound.questionType != 4">
                            <div class="long_word_green long_retangle{{control.fontSettings.main_answer}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngIf="!currentQuestion?.isAnsCharacter">


                                <p class="word font{{control.fontSettings.main_answer}}" [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                                    {{currentQuestion?.ans}}
                                </p>
                            </div>
                            <span *ngIf="currentQuestion?.isAnsCharacter">
                                <div class="one_word_green retangle{{control.fontSettings.main_answer}}"
                                    [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}"
                                    *ngFor="let char of ansCharArr">
                                    <!-- <p class="word animated zoomIn font{{control.fontSettings.main_answer}}" *ngIf="control.showAns">
                                                {{ char }}</p> -->
                                    <p class="word font{{control.fontSettings.main_answer}}"
                                        [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                                        {{char}}
                                    </p>
                                </div>
                            </span>
                            <div class="long_word_blue long_retangle{{control.fontSettings.main_hint}} longBlueRoundTwoLenght{{hint.value.length}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                                *ngIf="!hint?.isCharacter">
                                <p class="word font{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                                    {{ hint.value }}
                                </p>
                            </div>
                            <div *ngIf="hint?.isCharacter">
                                <div class="one_word_blue retangle{{control.fontSettings.main_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''" *ngFor="let char of hint.hintCharArr">
                                    <p class="one_word animated zoomIn font{{control.fontSettings.main_hint}}">
                                        {{ char }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="answer_four" *ngIf="currentRound.questionType == 4 ">
                        <div class="one_word_green retangle{{control.fontSettings.oneThird_answer}}" [ngClass]="{'hide_char less8char': char == ' '}" *ngFor="let char of ansCharArr; let i=index;" [ngStyle]="{'visibility': control.showAns ? 'unset': 'hidden'}">

                            <input class="round1_text" [ngStyle]="{'font-size': currentQuestion?.ansFontSize + 'px'}" [value]="char" />
                        </div>
                    </div>

                    <div *ngIf="currentRound.questionType == 7 " style="text-align: center;margin-top: 208px;">
                      <div style="text-align:center;margin-top: 50px;margin-top: -110px;">
                        <!-- <p class="word">{{currentQuestion.clue}}</p> -->

                      <div style="padding-left: 50px;">
                        <img src="./assets/images/round_two_box.png" class="roundseven_box" alt="">
                        <ng-container *ngFor="let char of currentQuestion.clue.split('')">
                          <input class="roundseven_text"  [value]="char" [ngClass]="{'green_answer_text' : char == currentQuestion.hints[0].value && control.showAns}"/>
                        </ng-container>

                        <!-- <input placeholder="E" class="roundseven_text green_answer_text" />
                        <input placeholder="E" class="roundseven_text" /> -->
                        </div>
                        <!-- <div class="one_word_green retangle ">
                            <input placeholder="E" class="roundseven_text" />
                        </div>
                        <div class="one_word_green retangle ">
                            <input placeholder="H" class="roundseven_text" />
                        </div> -->


                      </div>
                      <div class="one_word_green retangle roundseven_answer" [ngStyle]="{'visibility': control.showAns ? 'unset': 'hidden'}">
                        <input class="round1_text" [ngStyle]="{'font-size': currentQuestion?.ansFontSize + 'px'}" [value]="currentQuestion.ans" />
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
