.spin-body{
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 300px;
}


.canvasContainer {
    background-image: url(../../../assets/images/spin-background.svg);
    background-repeat: no-repeat;   /* Ensure that background does not repeat */
    background-position: center;    /* Ensure image is centred */
    width: 600px;                   /* Width and height should at least be the same as the canvas */
    height: 600px;
    margin: auto;
    margin-top: 50px;
}
.spin-pointer1 {
    width: 80px;
    height: 80px;
    background-color: #ce448b;
    position: absolute;
    margin-left: -340px;
    top: 312px;
    z-index: 999;
    border-radius: 40px;
}
.spin-pointer {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid #ff6b01;
    position: absolute;
    margin-left: -320px;
    top: 270px;
    z-index: 998;
}

#spin_btn{
    background: repeating-linear-gradient(152deg, #3e0560, #8141a7ad);
    color: #ffffff;
    background-color: #fff;
    box-shadow: 0px 7px 34px 2px #fb00ff;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-top-right-radius: 15px;
    width: 340px;
    height: 80px;
    border-bottom-left-radius: 15px;
}

// .spin-background{
//     width: 100%;
//     height: 100%;
//     background: url(../../../assets/images/spin_bg.png) no-repeat fixed;
//     -webkit-background-size: cover;
//     background-size: cover;
// }

.spinner_center_bg{
    width: 1920px;
    height: 1200px;
    position: absolute;
    text-align: center;
    z-index: 0;
    top: 0;
}

.spinner_bg{
    background: url("../../../assets/images/spin_bg.png") no-repeat !important;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 0;
    top: 0;
    height: 1200px;
}

.btn-container{
    position: fixed;
    width: 100%;
    text-align: center;
    top: 1000px;
}
.spinner_body{
    margin-top: 18%;
}
.pad-zero {
    padding: 0;
  }  
.position-fixed{
    position: fixed;
}