<div class="one_third_body" id="header">
  <div class="loader" [hidden]="!renderingAPNG"></div>

  <div [ngClass]="{'one_third_newbg': currentRound && currentRound['questionType'] != 2}">
    <div class="one_third_section non_select" [hidden]="false">
      <div class="row header">

        <div class="col-lg-3 left_wrapper">
          <div class="apng-ani  timer_center width{{control.fontSettings.oneThird_timeOut}}"
            [ngClass]="{'top50': currentRound && currentRound.questionType == 2}"></div>
          <!-- <img [src]="Images.loading" class="timer_center width{{control.fontSettings.oneThird_timeOut}}" /> -->
          <!-- <div class="timeout_center font{{control.fontSettings.oneThird_timeOut}}" [ngClass]="counter > 3 ? 'timer' : 'timer_style'"> {{ counter }} </div> -->

        </div>

        <div class="col-lg-9 row right_wrapper">
          <div class="col-lg-12" style="text-align: center; top: 3%;">
            <img class="cube_img_center" name="cube_img" alt="" />
            <div class="clude_hint" [ngStyle]="{'font-size': currentQuestion.otClueFontSize + 'px'}"
              *ngIf="currentRound && (control.showQuestion || control.runCategoryRound) && (currentRound.questionType == 1 || currentRound.questionType == 5 || currentRound.questionType == 6) ">
              {{currentQuestion?.clue }}</div>
            <div *ngIf="control.showQuestion  || control.runCategoryRound">
              <!-- //! for round 1 and round 5 -->
              <div
                *ngIf="currentQuestion.hints.length == 0 || (currentRound.questionType == 1 && currentQuestion.hints.length)">

                <div class="one_word_green retangle{{control.fontSettings.oneThird_answer}} animated heartBeat"
                  *ngIf="!currentQuestion.isAnsCharacter">
                  <p class="one_word font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}}"
                    *ngIf="control.showAns">
                    {{currentQuestion.ans}}</p>
                </div>

                <div *ngIf="currentQuestion.isAnsCharacter">
                  <div *ngIf="currentRound.questionType != 5" class="hint_ans_center">
                    <ng-container *ngIf="currentRound.questionType == 6">
                      <div class="one_word_green retangle{{control.fontSettings.oneThird_answer}}"
                        [ngClass]="char == ' ' ? 'hide_char': i==0 && currentRound.questionType == 1 ? 'blue_bg animated heartBeat' : 'animated heartBeat'"
                        *ngFor="let char of ansCharArr; let i=index;">
                        <input *ngIf="!(currentRound.questionType == 1 && currentQuestion.hints.length)"
                          class="round1_text" [ngClass]="control.showAns ? 'animated zoomIn' : 'transparent'"
                          [ngStyle]="{'font-size': currentQuestion.otAnsFontSize + 'px'}" [value]="char" />
                      </div>
                    </ng-container>
                    <ng-container *ngIf="currentRound.questionType == 1">
                      <ng-container *ngIf="!control.showAns">
                      <div class="one_word_green retangle{{control.fontSettings.main_answer}}" [ngClass]="char == ' ' ? 'hide_char': currentRound.questionType == 1 ? 'blue_bg animated heartBeat': 'animated heartBeat' " *ngFor="let char of currentQuestion.hints[0].value.split(''); let i=index;">
                        <input type="text" [value]="char" class="round1_text" [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}"
                        [ngClass]="control.showAns || currentRound.showfirstAnsChar ? 'animated zoomIn' : 'transparent'"
                        >
                      </div>
                    </ng-container>
                    <ng-container *ngIf="control.showAns">
                      <div class="one_word_green retangle{{control.fontSettings.main_answer}}" [ngClass]="char == ' ' ? 'hide_char': currentRound.questionType == 1 ? 'animated heartBeat': 'animated heartBeat' " *ngFor="let char of currentQuestion.ans.split(''); let i=index;">
                        <input type="text" [value]="char" class="round1_text"
                          [ngStyle]="{'font-size': currentQuestion.ansFontSize + 'px'}"
                          [ngClass]="control.showAns ?
                           'animated zoomIn ' : 'transparent'"
                           >
                      </div>
                    </ng-container>
                    </ng-container>
                  </div>
                </div>

                <div *ngIf="currentRound.questionType == 5" class="hint_ans_center">
                  <div class="one_word_blue retangle{{control.fontSettings.oneThird_answer}}"
                    [ngClass]="{'animated heartBeat':control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose && control.startCount == timerEnum.STOP , 'green_bg' : char.visible && control.showAns, 'hide_char' : char.word == ' '}"
                    *ngFor="let char of control.extraWord">

                    <!-- <p class="one_word font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}}" [ngClass]="
                            control.showAns && !control.clickPoint && !control.clickTimer && char.visible && !control.fontSettingOpenClose && !control.resetCount ||
                            char.visible && !control.showAns && control.animationExtraWord == char.word && !control.fontSettingOpenClose && !control.resetCount ? 'animated zoomIn':
                            !char.visible  ? 'transparent': ''">

                                        {{char.word}}
                                    </p> -->
                    <input [ngClass]="
                                    control.showAns && !control.clickPoint && !control.clickTimer && char.visible && !control.fontSettingOpenClose && !control.resetCount ||
                                    char.visible && !control.showAns && control.animationExtraWord == char.word && !control.fontSettingOpenClose && !control.resetCount ? 'animated zoomIn':
                                    !char.visible  ? 'transparent': ''" [value]="char.word"
                      [ngStyle]="{'font-size': currentQuestion.otAnsFontSize + 'px'}" class="roundfive_text" />
                  </div>
                </div>
              </div>

              <div class="hint_ans_center mrt20">
                <!-- //! start position -->
                <div *ngIf="!(currentRound.questionType == 1 && currentQuestion.hints.length)">
                  <div style="float: left;margin-right: 100px;"
                    *ngFor="let hint of currentQuestion.hints; let hintIndex = index">
                    <div class="text-center" *ngIf="currentRound.questionType == 4">

                      <div class="round_four_img"
                        [ngStyle]="{'background-image': 'url(' + control.roundFourStatus[0].imagePath + ')'}"
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount == timerEnum.START ? 'animated heartBeat':''"
                        *ngIf="!hint?.isCharacter && hintIndex == 0">
                        <input class="round_four_text" [ngStyle]="{'font-size': hint?.otHintFontSize + 'px'}"
                          [ngClass]="control.showQuestion && !blockAnimated  && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''"
                          [value]="hint.value" />
                      </div>
                      <div style="margin-left: 10px; margin-right: 37px;" class="round_four_img"
                        [ngStyle]="{'background-image': 'url(' + control.roundFourStatus[1].imagePath + ')'}"
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount == timerEnum.START ? 'animated heartBeat':''"
                        *ngIf="!hint?.isCharacter && hintIndex == 1">
                        <input class="round_four_text" [ngStyle]="{'font-size': hint?.otHintFontSize + 'px'}"
                          [ngClass]="control.showQuestion && !blockAnimated  && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''"
                          [value]="hint.value" />
                      </div>
                      <div class="round_four_img"
                        [ngStyle]="{'background-image': 'url(' + control.roundFourStatus[2].imagePath + ')'}"
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount == timerEnum.START ? 'animated heartBeat':''"
                        *ngIf="!hint?.isCharacter && hintIndex == 2">
                        <input class="round_four_text" [ngStyle]="{'font-size': hint?.otHintFontSize + 'px'}"
                          [ngClass]="control.showQuestion && !blockAnimated  && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''"
                          [value]="hint.value " />
                      </div>

                    </div>

                    <!-- //! for position 0 top -->
                    <div *ngIf="hint.position == 0 && currentRound.questionType != 4 && currentRound.questionType != 7"
                      class="hint_ans_center">
                      <div class="long_word_blue wordRoundFourLength{{hint.value.length}} mb-1"
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose || round4hintAnimated && control.startCount == timerEnum.START ? 'animated heartBeat':''"
                        *ngIf="!hint?.isCharacter">
                        <p class="word font{{control.fontSettings.oneThird_hint}} mb-0"
                          [ngClass]="control.showQuestion && !blockAnimated  && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                          {{ hint.value }}
                        </p>
                      </div>
                      <div style="margin-top: -40px;margin-left: -50px;" class="text-center" *ngIf="hint.isCharacter">
                        <div style="margin-top: 50px;" class="one_word_blue one_word_blue_three"
                          [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated  && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}"
                          *ngFor="let char of hint.hintCharArr">
                          <!-- <p class="one_word font{{control.fontSettings.oneThird_hint}}" [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''">
                                                {{ char }}
                                            </p> -->
                          <input
                            [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint ? 'animated zoomIn':''"
                            [value]="char" [ngStyle]="{'font-size': currentQuestion.hints[0].otHintFontSize + 'px'}"
                            class="roundthree_text roundthree_textblue" />
                        </div>
                      </div>

                      <div class="long_word_green"
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                        *ngIf="!currentQuestion.isAnsCharacter">
                        <p class="word font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}} mb-0"
                          [ngClass]="control.showAns && !control.clickPoint ? 'animated zoomIn' : control.showAns && control.clickPoint ? '' : control.showAns && control.clickPoint ? '' : 'transparent'">
                          {{ currentQuestion.ans }}
                        </p>
                      </div>
                      <div style="margin-left: -50px;" class="text-center"
                        *ngIf="currentQuestion.isAnsCharacter && currentRound.questionType != 4 && currentRound.questionType != 7">
                        <div
                          class="one_word_green one_word_green_three retangle{{control.fontSettings.oneThird_answer}}"
                          [ngClass]="{'hide_char less8char': char == ' ' , 'animated heartBeat': control.startCount == timerEnum.START && round4hintAnimated || control.showQuestion && !currentRound.showfirstAnsChar && !control.showAns && !control.clickTimer && !control.fontSettingOpenClose, 'blue_bg' : i == 0 && currentRound.showfirstAnsChar}"
                          *ngFor="let char of ansCharArr; let i=index;">

                          <!-- //! for round 4 -->
                          <span *ngIf="currentRound.showfirstAnsChar">
                            <p class="one_word font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}}"
                              [ngClass]="{'animated zoomIn' : control.showAns && i != 0, 'transparent' : !control.showAns && i != 0 }">
                              {{char}}</p>
                          </span>
                          <!-- //! for round 3 -->
                          <span *ngIf="!currentRound.showfirstAnsChar">
                            <!-- <p class="one_word font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}} "
                                                    [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount , 'transparent': !control.showAns && !control.clickPoint || !control.showAns &&control.clickPoint}">
                                                    {{char}}
                                                </p> -->
                            <input
                              [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount , 'transparent': !control.showAns && !control.clickPoint || !control.showAns &&control.clickPoint}"
                              [value]="char" [ngStyle]="{'font-size': currentQuestion.otAnsFontSize + 'px'}"
                              class="roundthree_text roundthree_textgreen" />
                          </span>
                        </div>
                      </div>

                    </div>


                    <!-- //! for position 1 left-->
                    <div *ngIf="hint.position == 1">

                      <div class="long_word_blue roudTwoLenght{{hint.value.length}}"
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                        *ngIf="!hint.isCharacter">
                        <p class="word font{{control.fontSettings.oneThird_hint}} mb-0"
                          [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated zoomIn':''">
                          {{ hint.value }}
                        </p>
                      </div>
                      <div *ngIf="hint.isCharacter">
                        <div class="one_word_blue retangle{{control.fontSettings.oneThird_hint}}"
                          [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                          *ngFor="let char of hint.hintCharArr">
                          <p class="one_word font{{control.fontSettings.oneThird_hint}}">
                            {{ char }}</p>
                        </div>
                      </div>


                      <div class="long_word_green "
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                        *ngIf="!currentQuestion.isAnsCharacter">
                        <p class="one_word font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}} mb-0"
                          [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                          {{currentQuestion?.ans}}
                        </p>
                      </div>
                      <span *ngIf="currentQuestion.isAnsCharacter">
                        <div
                          class="one_word_green one_wordRoundTwoLenght{{char.length}} retangle{{control.fontSettings.oneThird_answer}}"
                          [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}"
                          *ngFor="let char of ansCharArr">

                          <p class="one_word font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}} mb-0"
                            [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                            {{char}}
                          </p>
                        </div>
                      </span>
                    </div>
                    <!-- //! for position 2 right -->
                    <div *ngIf="hint.position == 2">

                      <div class="long_word_green"
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                        *ngIf="!currentQuestion.isAnsCharacter">

                        <p class="one_word font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}} mb-0"
                          [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                          {{currentQuestion?.ans}}
                        </p>
                      </div>
                      <span *ngIf="currentQuestion.isAnsCharacter">
                        <div
                          class="one_word_green endOneGreenRoudTwoAnsLenght{{char.length}} retangle{{control.fontSettings.oneThird_answer}}"
                          [ngClass]="{'animated heartBeat': control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose, 'hide_char' : char == ' '}"
                          *ngFor="let char of ansCharArr">

                          <p class="one_word endRoudTwoAnsLenght{{char.length}} font{{control.fontSettings.oneThird_answer}} word_font{{control.fontSettings.oneThird_answer}} mb-0"
                            [ngClass]="{'animated zoomIn': control.showAns && !control.clickPoint && !control.clickTimer && !control.fontSettingOpenClose && !control.resetCount, 'transparent': !control.showAns}">
                            {{char}}
                          </p>
                        </div>
                      </span>

                      <div class="long_word_blue endRoudTwoLenght{{hint.value.length}}"
                        [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose ? 'animated heartBeat':''"
                        *ngIf="!hint.isCharacter">
                        <p class="word font{{control.fontSettings.oneThird_hint}} endAnsRoudTwoLenght{{hint.value.length}} mb-0"
                          [ngClass]="control.showQuestion && !blockAnimated && !control.clickPoint && !control.fontSettingOpenClose  ? 'animated zoomIn':''">
                          {{ hint.value }}
                        </p>
                      </div>
                      <div *ngIf="hint?.isCharacter">
                        <div class="one_word_blue  retangle{{control.fontSettings.oneThird_hint}}"
                          *ngFor="let char of hint.hintCharArr">
                          <p class="one_word font{{control.fontSettings.oneThird_hint}}">
                            {{ char }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Round 4 Answer -->
                <div class="answer_four" *ngIf="currentRound.questionType == 4 ">
                  <div class="one_word_green retangle{{control.fontSettings   .oneThird_answer}}"
                    [ngClass]="{'hide_char less8char': char == ' '}" *ngFor="let char of ansCharArr; let i=index;"
                    [ngStyle]="{'visibility': control.showAns ? 'unset': 'hidden'}">

                    <input class="round1_text" [ngStyle]="{'font-size': currentQuestion?.otAnsFontSize + 'px'}"
                      [value]="char" />
                  </div>
                </div>
                <ng-container *ngIf="currentRound.questionType == 7 ">
                <div>
                  <div class="margin-top:80px">
                    <div style="width: 80%;">
                      <img src="./assets/images/round_two_box.png" class="roundseven_box" alt="">
                      <ng-container *ngFor="let char of currentQuestion.clue.split('')">
                        <input class="roundseven_text" [value]="char"
                          [ngClass]="{'green_answer_text' : char == currentQuestion.hints[0].value && control.showAns}" />
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="one_word_green retangle roundseven_answer"
                    [ngStyle]="{'visibility': control.showAns ? 'unset': 'hidden'}">
                    <input class="round1_text" [ngStyle]="{'font-size': currentQuestion?.ansFontSize + 'px'}"
                      [value]="currentQuestion.ans" />
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="container-fluid onethird_body" id="round_two_bg"
  [ngClass]="{'height100': currentRound && currentRound['questionType'] == 2}">
  <div class="row" *ngIf="currentRound && currentRound.questionType == 2">
    <div class="col-sm-3">
      <!-- <div class="apng-ani timer_center width{{control.fontSettings.oneThird_timeOut}}"></div> -->
    </div>
    <div class="col-sm-6" style="margin-top: 190px;">
      <div *ngIf="this.prevCategoryId == this.currentQuestion.categoryId">
        <div style="margin-top: 30px;">

          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text" style="background: url('./assets/images/BLUE/blue_blank.png')" *ngFor="let item of [11,12,13,14,15,16,17,18,19,110]; let i = index"
              [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word">
              <span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png')" *ngFor="let item of [21,22,23,24,25,26,27,28,29,210]; let i = index" [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word">
              <span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png')"  *ngFor="let item of [31,32,33,34,35,36,37,38,39,310]; let i = index" [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word"><span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png')" *ngFor="let item of [41,42,43,44,45,46,47,48,49,410]; let i = index" [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word"><span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png')"  *ngFor="let item of [51,52,53,54,55,56,57,58,59,510]; let i = index" [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word"><span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png')" *ngFor="let item of [61,62,63,64,65,66,67,68,69,610]; let i = index" [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word"><span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png')" *ngFor="let item of [71,72,73,74,75,76,77,78,79,710]; let i = index" [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word"><span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png')" *ngFor="let item of [81,82,83,84,85,86,87,88,89,810]; let i = index" [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word"><span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
          <div class="row" style="flex-wrap: initial;">
            <div class="alpha_text " style="background: url('./assets/images/BLUE/blue_blank.png')" *ngFor="let item of [91,92,93,94,95,96,97,98,99,910]; let i = index" [id]="item+'_bg'">
              <input type="text" [id]="item+'_val'" class="round_three_word"><span class="blank-circle" [id]="item+'_num_left'"></span>
              <span class="blank-circle" [id]="item+'_num_top'"></span>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 115px;" *ngIf="control.showQuestion">
        <img src="./assets/images/round_two_box.png" class="roundtwo_box" alt="">
        <input [value]="currentQuestion?.clue" class="roundtwohit"
          [ngStyle]="{'font-size': currentQuestion.otClueFontSize + 'px'}" />
      </div>
    </div>
  </div>
</div>
