.one_third_section {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: calc(100% / 3);
}

.header {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    // background: url(../../../assets/images/temp/one_third_header.PNG) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0px !important;
    // position: fixed;
}

.clude_hint {
    /* font-size: calc(0.1em + 1vw); */
    color: #ffffff;
    // width: 255px;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
    width: 380px;
    font-size: 15px;
    text-shadow: 1px 2px 2px #333333;
    line-height: 1.1;
}

// text-color style
.one_word_green {
    background: url(../../../assets/images/GREEN/green_blank.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-width: 105px;
    height: 100px;

}

.one_word_blue {
    background: url(../../../assets/images/BLUE/blue_blank.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-width: 105px;
    height: 100px;

}

//Round 5
.round_5blue {
    margin-left: -30px;
}

//Round 3
.round_3img {
    margin-left: -30px;
}

.long_word_blue {
    width: 100%;
    background: url(../../../assets/images/bluelong_bg2.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-height: 77px;
}

.long_word_green {
    width: calc(14em + 3vw);
    background: url(../../../assets/images/greenlong_bg.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-height: 60px;
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.word {
    font-weight: bold;
    color: #fff;
    margin: 15px;
    text-shadow: 1px 4px 4px #555, 0 0 7.5em #000, 0 0 0.5em #000;
}

.one_word {
    font-weight: bold;
    color: #fff;
    margin: 15px;
    text-shadow: 1px 4px 4px #555, 0 0 7.5em #000, 0 0 0.5em #000;
}

.transparent {
    color: transparent !important;
    text-shadow: none  !important;
}

.non_select {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

.hide_char {
    visibility: hidden;
}

// end of text-color style
@for $f from 0 through 150 {
    @if $f>110 {
        .font#{$f} {
            font-size: 110px;
        }
    }
    @else {
        .font#{$f} {
            font-size: $f * 1px;
        }
    }
    @if $f>=50 {
        @media only screen and (min-width: 1147px) {
            .width#{$f} {
                min-width: 376px !important;
            }
        }
        @media only screen and (min-width: 1440px) {
            .width#{$f} {
                min-width: 500px !important;
            }
        }
    }
    @if $f>40 {
        .width#{$f} {
            min-width: 360px;
            // max-width: 203px;
            width: $f * 1%;
        }
    }
    @else {
        .width#{$f} {
            max-width: 360px;
            // max-width: 203px;
            width: $f * 3%;
        }
    }
}

.text_animation {
    animation-name: text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-name: text;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}

@-moz-keyframes text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 2;
    }
}

@-webkit-keyframes text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 2;
    }
}

@keyframes text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 2;
    }
}

%Animation {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}

.block_animation {
    @extend %Animation;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// new css code
.timer_center {
    position: absolute;
    top: 58%;
    left: 39%;
    transform: translate(-50%, -50%);
    // width: 30%;
}

.timeout_center {
    position: absolute;
    top: 54% !important;
    left: 38%;
    transform: translate(-50%, -50%);
}

.cube_img_center {
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 540px;
    /*   min-width: 600px; */
}

.hint_ans_center {
    position: absolute;
    top: 65%;
    left: 46%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.timer {
    position: absolute;
    text-shadow: 3px 4px 3px #333333;
    color: #ffffff;
    text-align: center;
    margin-top: 2%;
}

.timer_style {
    position: absolute;
    color: #f00;
    width: 111px;
    text-align: center;
    text-shadow: 3px 4px 3px #333333;
    font-weight: bold;
}

.blue_bg {
    width: auto;
    background: url(../../../assets/images/BLUE/blue_blank.png) no-repeat;
    background-size: cover;
    display: inline-block;
    min-height: 60px;
    position: relative;
    padding: 0;
    min-width: 105px;
    height: 100px;
}

.green_bg {
    width: auto;
    background: url(../../../assets/images/GREEN/green_blank.png) no-repeat;
    background-size: contain;
    display: inline-block;
    min-height: 60px;
    position: relative;
    padding: 0;
    min-width: 105px;
    height: 100px;
}

// Adjust blue rectangle hint row alignment
.mleft40 {
    margin-left: 40px;
}

//* text in green capsule
@for $fontLength from 1 through 100 {
    @if $fontLength>=11 {
        .clue_fontsize#{$fontLength} {
            font-size: 20px;
        }
    }
    @else if $fontLength<=10 {
        .clue_fontsize#{$fontLength} {
            font-size: 30px;
        }
    }
    @media (min-width: 1601px) and (max-width: 1980px) {
        @if $fontLength>=11 {
            .clue_fontsize#{$fontLength} {
                font-size: 30px !important;
                width: 280px !important;
            }
        }
        @else if $fontLength==8 {
            .clue_fontsize#{$fontLength} {
                font-size: 40px !important;
                width: 280px !important;
                /* left: 44% !important; */
            }
        }
        @else if $fontLength<=10 {
            .clue_fontsize#{$fontLength} {
                font-size: 37px !important;
                width: 270px !important;
                /*     left: 46% !important; */
            }
        }
    }
    @media (min-width: 2880px) and (max-width: 3999px) {
        @if $fontLength>=11 {
            .clue_fontsize#{$fontLength} {
                font-size: 40px !important;
                width: 400px !important;
            }
        }
        @else if $fontLength==8 {
            .clue_fontsize#{$fontLength} {
                font-size: 56px !important;
                width: 370px !important;
                left: 44% !important;
            }
        }
        @else if $fontLength<=10 {
            .clue_fontsize#{$fontLength} {
                font-size: 70px !important;
                width: 370px !important;
                left: 46% !important;
            }
        }
    }
    @media only screen and (min-width: 4000px) {
        @if $fontLength>=11 {
            .clue_fontsize#{$fontLength} {
                font-size: 75px !important;
                width: 700px !important;
            }
        }
        @else if $fontLength<=10 {
            .clue_fontsize#{$fontLength} {
                font-size: 100px !important;
                width: 370px !important;
                left: 46% !important;
            }
        }
    }
}

//* End of text in green capsule
//word responsive one third
@for $p from 1 through 45 {
    @if $p>=41 {
        .word_font#{$p} {
            padding-top: 5px !important;
        }
    }
}

//*For Alphabet rectangle box
@for $retangle_font from 1 through 150 {
    @media (min-width: 2280px) and (max-width: 3999px) {
        @if $retangle_font <=70 {
            .retangle#{$retangle_font} {
                min-width: 144px !important; //! 2880px screen
                margin-left: -43px;
            }
            .font#{retangle_font} {
                padding-top: 5px !important;
                margin-bottom: 20px !important;
                margin-left: 20px !important;
            }
        }
    }
    @media only screen and (min-width: 4000px) {
        @if $retangle_font==100 {
            .retangle#{$retangle_font} {
                min-width: 190px !important; //! 2880px screen
            }
            .font#{retangle_font} {
                padding-top: 7px !important;
            }
        }
        @else if $retangle_font==150 {
            .retangle#{$retangle_font} {
                min-width: 250px !important; //! 4000px screen
            }
        }
    }
}

//Start long_word_blue for round 3 and round 4
@media only screen and (max-width: 1650px) {
    @for $greenLength from 1 through 150 {
        .one_wordRoundTwoLenght#{$greenLength} {
            padding-bottom: 20px;
        }
        .endRoudTwoLenght#{$greenLength} {
            margin-left: -32px;
        }
        .roudTwoLenght#{$greenLength} {
            padding-bottom: 7px;
        }
        .endAnsRoudTwoLenght#{$greenLength} {
            padding-bottom: 5px !important;
        }
        .endRoudTwoAnsLenght#{$greenLength} {
            padding-bottom: 7px !important;
        }
    }
    @for $roundFourLength from 1 through 150 {
        .wordRoundFour#{$roundFourLength} {
            padding-bottom: 7px !important;
        }
        .wordRoundFourLength#{$roundFourLength} {
            padding-bottom: 7px !important;
        }
        @if $roundFourLength<=9 {
            .wordRoundFourLength#{$roundFourLength} {
                width: calc(17em + 3vw) !important;
                .word {
                    padding-left: 10px !important;
                }
            }
        }
        // @else if $roundFourLength==8 {
        //   .wordRoundFourLength#{$roundFourLength} {
        //     width: calc(17em + 3vw) !important;
        //     .word {
        //       padding-left: 10px !important;
        //     }
        //   }
        // }
        // @else if $roundFourLength==7 {
        //   .wordRoundFourLength#{$roundFourLength} {
        //     width: calc(17em + 3vw) !important;
        //     .word {
        //       padding-left: 10px !important;
        //     }
        //   }
        // }
        // @else if $roundFourLength==6 {
        //   .wordRoundFourLength#{$roundFourLength} {
        //     width: calc(15em + 3vw) !important;
        //     margin-left: 17px;
        //     .word {
        //       padding-left: 10px !important;
        //     }
        //   }
        // }
        // @else if $roundFourLength<=5 {
        //   .wordRoundFourLength#{$roundFourLength} {
        //     width: calc(15em + 3vw) !important;
        //     margin-left: 17px;
        //     .word {
        //       padding-left: 10px !important;
        //     }
        //   }
        // }
        @else if $roundFourLength>=9 {
            .wordRoundFourLength#{$roundFourLength} {
                width: calc(24em + 3vw) !important;
                .word {
                    padding-left: 15px !important;
                }
            }
        }
    }
}

@media only screen and (min-width:1920px) {
    @for $length from 1 through 150 {
        .endRoudTwoLenght#{$length} {
            margin-left: -36px !important;
            width: calc(14em + 3vw)!important;
            min-height: 73px!important;
        }
        .endOneGreenRoudTwoAnsLenght#{$length} {
            min-height: 73px !important;
            min-width: 85px !important;
            padding-bottom: 19px;
        }
        .retangle#{$length} {
            min-height: 60px;
            // margin-left: -23px;
            /*  padding-bottom: 5px; */
        }
        .one_wordRoundTwoLenght#{$length} {
            min-height: 80px !important;
            min-height: 73px!important;
        }
        .roudTwoLenght#{$length} {
            min-height: 73px;
        }
    }
    @for $roundFourLength from 1 through 150 {
        .wordRoundFour#{$roundFourLength} {
            padding-bottom: 7px !important;
        }
        .wordRoundFourLength#{$roundFourLength} {
            padding-bottom: 7px !important;
        }
        @if $roundFourLength==6 {
            .wordRoundFourLength#{$roundFourLength} {
                width: calc(17em + 3vw) !important;
                padding-bottom: 10px;
                margin-left: -10px;
            }
        }
        @else if $roundFourLength<=5 {
            .wordRoundFourLength#{$roundFourLength} {
                width: calc(12em + 3vw) !important;
                padding-left: 0px;
                // padding-top: 6px;
                .word {
                    padding-left: 10px !important;
                }
            }
        }
        @else if $roundFourLength>=8 {
            .wordRoundFourLength#{$roundFourLength} {
                width: calc(23em + 3vw) !important;
                .word {
                    padding-left: 15px !important;
                    padding-top: 5px !important;
                }
            }
        }
    }
}

//End long_word_blue for round 3 and round 4
@media (min-width: 2280px) and (max-width: 3999px) {
    .long_word_blue {
        margin-left: -40px;
        @for $f from 1 through 150 {
            .font#{$f} {
                padding: 20px !important;
            }
        }
    }
}

@media only screen and (min-width: 4000px) {
    .long_word_blue {
        margin-left: -50px;
    }
}


/* .less8char {
  display: table-column;
} */

.round_one-text {
    width: 70px;
    text-align: center;
    margin: 0;
    height: 107px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-top: 0px;
    padding-bottom: 8px;
    color: #fff;
}

.roundtwo {
    border: none;
    background: none;
    outline: none;
    text-align: center;
    height: 39px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 187px;
    color: #fff;
}

.float_left {
    float: left;
}

.Rtwo100 {
    margin-top: 100px;
}

.t70 {
    top: -70px;
}

.onethird_body {
    // background-image: url('../../../assets/images/Round_02_Half_Page_BG001.png');
    //background: url(assets/images/main_background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //height: 100vh;
}
.height100{
    height: 100vh;
}
.grid_bg {
    background: url(../../../assets/images/BLUE/blue_blank.png) no-repeat;
}

.alpha_text {
    height: 60px !important;
    width: 60px !important;
    text-align: center;
    padding: 1.5%;
    font-weight: bold;
    border: 1px solid #6d8bc3 !important;
    color: #fff;
    background-size: cover !important;
    padding: 0px !important;
    border: none !important;

    margin-left: -1px;
    background: #f5cbf9;
}

.round1_text {
    width: 83px;
    text-align: center;
    margin: 0;
    height: 95px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-bottom: 8px;
    color: #fff;
    padding-top: 19px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
}

.roundthree_text {
    width: 83px;
    text-align: center;
    margin: 0;
    height: 95px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-bottom: 8px;
    color: #fff;
    padding-top: 19px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
}

//Round four
.round_four_img {
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    min-width: 105px;
    margin-left: -30px;
    width: 360px;
}

.round_four_text {
    width: calc(14em + 3vw);
    background: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 30px;
    width: 360px;
    color: #fff;
    background: none;
    border: none;
    height: 70px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
}

//Round two
.roundtwo_box {
    // background: url(../../../assets/images/round_two_box.png) no-repeat;
    width: 134%;
    height: 100px;
    margin-left: -30px;
    margin-top: 34px;
}

.roundtwohit {
    color: white;
    position: absolute;
    left: -6%;
    background: none;
    border: none;
    width: 134%;
    text-align: center;
    padding-left: 16px;
    margin-top: -88px;
    height: 77px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
}

.top50 {
    top: -50%;
}

.one_third_newbg{height: 100vh;}
// .one_third_body{
//     background-image: url('../../../assets/images/temp/one_third_header_bk.PNG');
// }
// .mrt20{
//     margin-top: -60px;
//     margin-left: 120px;
// }
//Round four Answer
.answer_four{
    margin-top: 17px;
    float: left;
    text-align: center;
    width: 100%;
    margin-left: -90px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
}

.one_word_blue_three,.one_word_green_three{
    background-size: contain;
    display: inline-block;
    min-width: 80px;
    height: 100px;
    .roundthree_textblue{
        width: 80px;
    text-align: center;
    margin: 0;
    height: 70px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-bottom: 8px;
    color: #fff;
    padding-top: 19px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
    }
}
.roundthree_textgreen{
    width: 80px;
    text-align: center;
    margin: 0;
    height: 70px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: 1px;
    padding-bottom: 8px;
    color: #fff;
    padding-top: 19px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
}
.roundfive_text{
    width: 83px;
    text-align: center;
    margin: 0;
    height: 95px;
    background: none;
    border: none;
    font-size: 45px;
    outline: none;
    margin-left: -6px;
    padding-bottom: 8px;
    color: #fff;
    padding-top: 8px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px #333333;
}

// Round Five

//round seven
.roundseven_body{
    position: relative;
    text-align: center;
    left: -4%;
    top: -100px
}
.roundseven_question{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.roundseven_box{
    height: 240px;
    // position: absolute;
    width: 88%;
    // z-index: -1;
    // margin-left: -6%;
    // margin-top: -12px;
}
.roundseven_text{
    color: white;
    background: none;
    border: none;
    font-size: 45px;
    padding-top: 11px;
    height: 70px;
    width: 60px;
    text-align: center;
    // top: 31px;
    // position: relative;
    text-shadow: 1px 2px 2px #333333;
    font-weight: bolder;

}
.green_answer_text{
    background:url(../../../assets/images/GREEN/green_blank.png) no-repeat;
    background-size: cover;
    text-align: center;
    width: 97px;
    height: 90px;
    margin-top: -4px;
    padding-top: 3px;
}
.roundseven_answer{
    margin-left: -19%;
    z-index: 9999;
    position: relative;
    margin-top: 17%;
    text-shadow: 1px 2px 2px #333333;
    font-weight: bolder;
}

//round_three_word
.round_three_word{
    background: none;
    text-align: center;
    width: 60px;
    border: none;
    color: #fff;
    font-size: 37px;
    height: 49px;
    margin-top: 4px;
}

.blank-circle{
    width: 27px;
    display: inline-table;
    height: 19px;
}
.vertical-cross-num{
    // position: relative;
    // top: -81px;
    // right: 2px;
    
    //   font-size: 16px;
    //   padding: 0px;
    //   border-radius: 50%;
    //   height: 23px;
    //   width: 24px;
    //   display: inline-table;
    //   background: #f9f906;
    //   color:#000;

    position: relative;
    top: -119px;
    right: 10px;

    padding: 0px;
    display: inline-table;
    color: #000;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 35px solid #f9f906;
  }
  .vertical_text{
    position: absolute;
    top: -43px;
    left: -8px;
    font-size: xx-large;
    font-weight: bolder;
}
  
  
  .horizontal-cross-num{
    // position: relative;
    // top: -36px;
    // right: 56PX;
    //   background: red;
    //   border: 1px solid #bd4040;
    //   font-size: 16px;
    //   padding: 0px;
    //   border-radius: 50%;
    //   height: 23px;
    //   width: 24px;
    //   display: inline-table;

    position: relative;
    top: -47px;
    right: 41PX;
    display: inline-table;
    width: 0;
    height: 0;
    color: #000;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid red;  
      
      
  }
  .horizontal_text{
    position: absolute;
    top: -23px;
    left: -29px;
    font-size: xx-large;
    font-weight: bolder;
}
  
.letterleft{
    transform: scale(0.6,1);
    padding-left: 0px;
    text-align: left;
    position: relative;
    left: -10px;
}
.letterright{
    transform: scale(0.6,1);
    padding-left: 0px;
    text-align: right;
    position: relative;
    right: -12px;
}
.lettertop{
    transform: scaleY(0.5);
    top:-14px;
    position: relative;
}

.letterbottom{
    transform: scaleY(0.5);
    top:17px;
    position: relative;
}
