@font-face {
  font-family: 'STHeiti';
  src: url('assets/fonts/STHeiti.woff2') format('woff2'),
      url('assets/fonts/STHeiti.woff') format('woff'),
      url('assets/fonts/STHeiti_Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "STHeiti";
}