@font-face {
  font-family: 'simsun';
  // src: url(../assets/fonts/DIN-Bold.otf) format("opentype");
  // src: url(../assets/fonts/msyh.ttc) format("opentype");
  //   src: url(../assets/fonts/msyhl.ttc) format("opentype");
  //   src: url(../assets/fonts/msyhbd.ttc) format("opentype");
    src: url(assets/fonts/simsun.ttf) format("opentype")
}

* {
  // font-family: "simsun";
  //font-family: "msyh";
  font-family: "dfhei";
}
