:root {
    --round-header-font-size: 50px;
    --question-font-size: 60px;
    --alphatext-font-size: 40px;
  }

.question-title {
  max-width: 950px;
  margin: 30px;
  text-align: center;
  color: #fff;
  font-size: var(--question-font-size);
  width: auto;
  height: auto;
  padding: 5px 25px;
}

.roundthree-alpha-body {
  max-width: 950px;
  margin: 0px 30px;
}
.alpha-row {
  display: flex;
  margin: 0px 40px;
  justify-content: center;
}
.alpha-text {
  text-align: center;
  color: #fff;
  font-size: var(--alphatext-font-size);
  width: calc(var(--alphatext-font-size) * 1.5);
  height: calc(var(--alphatext-font-size) * 1.5);
  // margin-left: calc(var(--alphatext-font-size) * 0.05);
  // margin-right: calc(var(--alphatext-font-size) * 0.05);
}