.typoword_bg {
    width: 1920px;
    height: 1200px;
    position: absolute;
    text-align: center;
    z-index: 0;
    top: 0;
}

.typo_word {
    text-align: center;
    top: 20%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0px);
}

.signature {
    // border: 3px solid #ede0ff;
    // box-shadow: 0px 0px 50px 0px #c000ff;
    opacity: 1;
}

.typo_question_box {
    height: 180px;
    width: 850px;
    z-index: -1;
    display: block;
    margin: auto;
    position: absolute;
}

.typo_question_txt {
    white-space: pre;
    font-size: 25px;
    letter-spacing: 5px;
    width: 820px;
    margin-bottom: 0;
    color: #fff;
}

.typo_question_container {
    height: 100px;
    align-items: center;
    justify-content: center;
    top: 11%;
    position: absolute;
    left: 5%;
    display: flex;
    z-index: -1;
}

.canvas_span_bg {
    width: 1600px;
    height: 800px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    z-index: -5;
    margin-left: -1250px;
    border: 3px solid #ede0ff;
    box-shadow: 0px 0px 50px 0px #c000ff;
}