<img class="mx-auto d-block typoword_bg" [src]="Images.player_round_bg">
<div class="typo_word">
    <div class="text-center pb-5 typo_question_container">
        <!-- <img alt="" class="cube_img typo_question_box" name="cube_img" [src]="Images.round3_long_block"> -->
        <img alt="" class="cube_img typo_question_box" name="cube_img" [src]="Images.round_two_box">
        <div id="typo_question" class="typo_question_txt"> {{typoWordQuestion}}</div>
    </div>
    <img [src]=typoWordImage alt="Typo Word Image" class="signature" width="582px" height="511px">
    <span class="canvas_span_bg"></span>
</div>