.cross_alpha_text {
    color: #fff;
    min-width: 75px;
    text-align: center;
    min-height: 40px;
    padding: 5px;
    border: 1px solid #4DB821;
  }

  .dropdown {  
    width: 321px;
      .dropdown-toggle {
        width: 321px;
        text-align: left;
      }
    }