<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="choose-player">
    <form>
		<div class="container-fluid">
			<div class="choose_player">
				<div class="row mg_60 player">
					<div class="col-sm-3 img_bg">
	                    <div class="player_body">
	                    	<img id="player1Selected" class="mx-auto d-block top-right"/>
	                        <div>
	                            <img src="../../image/player_center_bg_2.jpg" class="mx-auto d-block player_img" />
	                            <p class="player_text">
	                                <button class="btn player_btn" id="player1" value="player1">Player "1"</button>
	                            </p>
	                        </div>

	                    </div>
	                </div>

	               	<div class="col-sm-3 img_bg">
	                    <div class="player_body">
                        <img id="player2Selected" class="mx-auto d-block top-right"/>
	                        <div>
	                            <img src="../../image/player_center_bg_2.jpg" class="mx-auto d-block player_img" />
	                            <p class="player_text">
	                                <button class="btn player_btn" id="player2" value="player2">Player "2"</button>
	                            </p>
	                        </div>

	                    </div>
	                </div>

	                <div class="col-sm-3 img_bg">
                    <img id="player3Selected" class="mx-auto d-block top-right"/>
	                    <div class="player_body">
	                        <div>
	                            <img src="../../image/player_center_bg_2.jpg" class="mx-auto d-block player_img" />
	                            <p class="player_text">
	                                <button class="btn player_btn" id="player3" value="player3">Player "3"</button>
	                            </p>
	                        </div>

	                    </div>
	                </div>

          <div class="col-sm-3 img_bg">
            <img id="control-screenSelected" class="mx-auto d-block top-right"/>
            <div class="player_body">
              <div>
                <img src="../../image/player_center_bg_2.jpg" class="mx-auto d-block player_img" />
                <p class="player_text">
                  <button class="btn player_btn" id="control-screen" value="control-screen">Player "3"</button>
                </p>
              </div>

            </div>
          </div>
                </div>


			<div class="action_btn">
				  	<button id="connect" class="btn btn-success" type="submit">Connect</button>
		          	<!-- <button id="disconnect" class="btn btn-danger" type="submit" disabled="disabled">Disconnect</button> -->
		          </div>
             </div>
		</div>
    </form>
  </div>
</html>
