<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="choose-player" class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="player" id="player1" value="player1">
            <label class="form-check-label" for="player1">
              Player 1
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="player" id="player2" value="player2">
            <label class="form-check-label" for="player2">
              Player 2
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="player" id="player3" value="player3">
            <label class="form-check-label" for="player3">
              Player 3
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="player" id="control" value="control-screen">
            <label class="form-check-label" for="control">
             Control Screen
            </label>
          </div>

          <button id="connect" class="btn btn-success" type="submit">Connect</button>
          <button id="disconnect" class="btn btn-danger" type="submit" disabled="disabled">Disconnect</button>
        </div>
      </div>

    </form>
  </div>
</html>
