<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="round2">

	<div class="container">
		<div class="row">
				<!-- <h1 id="round2-answer"></h1> -->
				<div id="round2_word1" class="col-sm-1 word-margin">
					<div class="underline-word">
						<span></span>
					</div>
				</div>
				<div id="round2_word2" class="col-sm-1 word-margin">
					<div class="underline-word">
						<span></span>
					</div>
				</div>
				<div id="round2_word3" class="col-sm-1 word-margin">
					<div class="underline-word">
						<span></span>
					</div>
				</div>
				<div id="round2_word4" class="col-sm-1 word-margin">
					<div class="underline-word">
						<span></span>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="col-sm-1">
				<button class="btn btn-primary margl_15" id="round2_btn1" value="A">A</button>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-primary margl_15" id="round2_btn2" value="B">B</button>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-primary margl_15" id="round2_btn3" value="C">C</button>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-primary margl_15" id="round2_btn4" value="D">D</button>
			</div>
		</div>
	</div>
</div>
</html>
