<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="round4">
  <div class="col-md-12">
    <div id="conversation">
      <h4 class="text-center">Questions</h4>
      <p id="questions"></p>
      <div class="row">
        <button id="clear-signature">Clear</button>

        <button id="submit-answer-btn-4" class="btn btn-success" type="submit">Submit</button>
      </div>

      <br>

      <canvas id="signature" width="450" height="150" style="border: 1px solid #ddd"></canvas>
    </div>
  </div>
</div>
</html>
