<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scramble-word">

  <div class="container-fluid">
  	<div class="row">
  		<div class="col-sm-12">
  			<button id="backspace-btn" class="btn btn-primary"><img alt="" class="" name="cube_img" src="../../image/back-icon.svg" style="width: 30px;"></button>
  		</div>
  	</div>
    <div class="round2_answer">
      <div id="scramble-word1" class="col-sm-2 word-margin" data-wz-index="1">
        <div class="underline-word border-bottom-blue">
          <input type="hidden"/>
          <p class="answer"></p>
        </div>
      </div>

      <div id="scramble-word2" class="col-sm-2 word-margin" data-wz-index="2">
        <div class="underline-word border-bottom-blue">
          <input type="hidden"/>
          <p class="answer"></p>
        </div>
      </div>

      <div id="scramble-word3" class="col-sm-2 word-margin" data-wz-index="3">
        <div class="underline-word border-bottom-blue">
          <input type="hidden"/>
          <p class="answer"></p>
        </div>
      </div>

      <div id="scramble-word4" class="col-sm-2 word-margin" data-wz-index="4">
        <div class="underline-word border-bottom-blue">
          <input type="hidden"/>
          <p class="answer"></p>
        </div>
      </div>

    </div>

    <div class="round2_word">
      <div class="col-sm-2">
        <button class="btn round2_btn" id="scramble-btn1" value="">
        	<img src="../../image/BLUE/Square_Box_Purple.png">
        	<input type="text" class="btn_txt" disabled>
        </button>
      </div>

      <div class="col-sm-2">
        <button class="btn round2_btn" id="scramble-btn2" value="">
        	<img src="../../image/BLUE/Square_Box_Purple.png">
        	<input type="text" class="btn_txt" disabled>
        </button>
      </div>

      <div class="col-sm-2">
        <button class="btn round2_btn" id="scramble-btn3" value="">
        	<img src="../../image/BLUE/Square_Box_Purple.png">
        	<input type="text" class="btn_txt" disabled>
        </button>
      </div>

      <div class="col-sm-2">
        <button class="btn round2_btn" id="scramble-btn4" value="">
        	<img src="../../image/BLUE/Square_Box_Purple.png">
        	<input type="text" class="btn_txt" disabled>
        </button>
      </div>

    </div>

  </div>
</div>
</html>
