<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scramble-word">

  <div class="container">
    <div class="row">
      <div id="scramble-word1" class="col-sm-1 word-margin">
        <div class="underline-word">
          <span></span>
        </div>
      </div>

      <div id="scramble-word2" class="col-sm-1 word-margin">
        <div class="underline-word">
          <span></span>
        </div>
      </div>

      <div id="scramble-word3" class="col-sm-1 word-margin">
        <div class="underline-word">
          <span></span>
        </div>
      </div>

      <div id="scramble-word4" class="col-sm-1 word-margin">
        <div class="underline-word">
          <span></span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-1">
        <button class="btn btn-primary margl_15" id="scramble-btn1" value="A">A</button>
      </div>

      <div class="col-sm-1">
        <button class="btn btn-primary margl_15" id="scramble-btn2" value="B">B</button>
      </div>

      <div class="col-sm-1">
        <button class="btn btn-primary margl_15" id="scramble-btn3" value="C">C</button>
      </div>

      <div class="col-sm-1">
        <button class="btn btn-primary margl_15" id="scramble-btn4" value="D">D</button>
      </div>

    </div>

  </div>
</div>
</html>
