<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scramble-word">

  <div class="container-fluid">
    <div class="round2_answer">
      <div id="scramble-word1" class="col-sm-1 word-margin">
        <div class="underline-word">
          <span class="answer"></span>
        </div>
      </div>

      <div id="scramble-word2" class="col-sm-1 word-margin">
        <div class="underline-word">
          <span class="answer"></span>
        </div>
      </div>

      <div id="scramble-word3" class="col-sm-1 word-margin">
        <div class="underline-word">
          <span class="answer"></span>
        </div>
      </div>

      <div id="scramble-word4" class="col-sm-1 word-margin">
        <div class="underline-word">
          <span class="answer"></span>
        </div>
      </div>

    </div>

    <div class="round2_word">
      <div class="col-sm-1">
        <button class="btn round2_btn" id="scramble-btn1" value="A">
        	<img src="../../image/BLUE/blue_blank.png">
        </button>
      </div>

      <div class="col-sm-1">
        <button class="btn round2_btn" id="scramble-btn2" value="B">
        	<img src="../../image/BLUE/blue_blank.png">
        </button>
      </div>

      <div class="col-sm-1">
        <button class="btn round2_btn" id="scramble-btn3" value="C">
        	<img src="../../image/BLUE/blue_blank.png">
        </button>
      </div>

      <div class="col-sm-1">
        <button class="btn round2_btn" id="scramble-btn4" value="D">
        	<img src="../../image/BLUE/blue_blank.png">
        </button>
      </div>

    </div>

  </div>
</div>
</html>
