<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="typo-word">

  <div class="signaturePad_body">

    <div class="clear_btn_container">
      <button class="btn clear_btn typo_btn" id="clear-signature">Clear</button>
    </div>
    <div class="text-center typo_question_container">
      <img alt="" class="cube_img typo_question_box" name="cube_img" src="../../image/cube.png">
      <!-- <input type="text" id="typo-word-question" class="typo_question_txt"> -->
      <div id="typo-word-question" class="typo_question_txt"></div>
    </div>
    <div id="signature-pad">
      <span class="canvas_span_bg"></span>
      <canvas width="900px" height="511px" id="signature"></canvas>
    </div>

  </div>
</div>
</html>
