.w_321 {
    width: 321px;
}

.select_body{
    padding-left: 50px;
}

.dropdown {  
  width: 321px;
    .dropdown-toggle {
      width: 321px;
      text-align: left;
    }
}

.second_body{
    padding: 10px 40px;
    margin-bottom: 15px;
    background: radial-gradient(#00000029, #ffffff38);
    border-radius: 10px;
    margin-top: 20px;
}

.second_body .common_label {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 3px;
}
.lbl_header{
  width: 180px;
  font-size: 22px !important;
  height: 40px;
  background: #00000057;
  padding: 3px 20px;
  border-radius: 40px;
  margin-bottom: 10px;
}

.second_body .common_textarea{
  padding-top: 10px;
}

.r1_radio_label{
  vertical-align: 2px;
  margin-left: 10px;
  color: #41faff;
  margin-right: 30px;
}
.setup-border-design {
  padding: 10px 0px;
  border-bottom: 1.5px solid #fff;
  margin-bottom: 1rem;
}
.setup-border-design1 {
  padding: 10px 0px;
  margin-bottom: 1rem;
}


.table_body{
  border-top-left-radius: 10px;
  border: 2px solid #4DB821;
  padding: 0;
  border-bottom: none;
  border-top-right-radius: 10px;
}

.table_body .table {
  margin-bottom: 0;
}
.table_body .table thead tr,.table_body .table tbody tr {
  border-bottom: 2px solid #4DB821;
}

.table_body .table thead tr th, .table_body .table thead tr td {
  border: none;
  padding: 10px 10px !important;
}

.table_title {
  font-size: 14px;
  font-weight: bold;
  color: #41faff;
  letter-spacing: 0.7px;
  margin-bottom: 0px;
  text-align: left;
  padding-bottom: 5px;
  width: auto;
}

.pad_0 {
  padding: 0px;
}
.pad_b_30{
  padding-bottom: 30px;
}