<div class="marl_basetwo50 mart_basetwo20">
    <div class="video_body">
        <div>
            <img [src]="Images.VIDEO_DEFAULT_BG" style="width: 900px;height: 550px;">
        </div>
        <div style="display: none;">
            <!-- <video [src]="videoUrl" style="width: 900px;height: 550px;"></video> -->
        </div>
    </div>
    <div class="video-word-body">
        <div class="video-word-block blue-block">第</div>
        <div class="video-word-block blue-block">三</div>
        <div class="video-word-block blue-block">回</div>
        <div class="video-word-block blue-block">合</div>
    </div>
</div>
