/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

html {
  margin: 0;
  padding: 0;
  height: auto;
}

.img-theme {
  height: 100%;
  margin-left: 0px;
  background: url(assets/images/control_bg.png) no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0px !important;
  background-color: #005e98;
}

// margin and paindding base 2px
@for $x from 0 through 100 {
  .pad_basetwo#{$x} {
    padding: $x * 2px;
  }
  .padt_basetwo#{$x} {
    padding-top: $x * 2px;
  }
  .padb_basetwo#{$x} {
    padding-bottom: $x * 2px;
  }
  .padr_basetwo#{$x} {
    padding-right: $x * 2px;
  }
  .padl_basetwo#{$x} {
    padding-left: $x * 2px;
  }
  .mar_basetwo#{$x} {
    margin: $x * 2px;
  }
  .mart_basetwo#{$x} {
    margin-top: $x * 2px;
  }
  .marb_basetwo#{$x} {
    margin-bottom: $x * 2px;
  }
  .marr_basetwo#{$x} {
    margin-right: $x * 2px;
  }
  .marl_basetwo#{$x} {
    margin-left: $x * 2px;
  }
}

// margin and paindding base 5px
@for $x from 0 through 100 {
  .pad_basefive#{$x} {
    padding: $x * 5px !important;
  }
  .padt_basefive#{$x} {
    padding-top: $x * 5px !important;
  }
  .padb_basefive#{$x} {
    padding-bottom: $x * 5px !important;
  }
  .padr_basefive#{$x} {
    padding-right: $x * 5px !important;
  }
  .padl_basefive#{$x} {
    padding-left: $x * 5px !important;
  }
  .mar_basefive#{$x} {
    margin: $x * 5px !important;
  }
  .mart_basefive#{$x} {
    margin-top: $x * 5px !important;
  }
  .marb_basefive#{$x} {
    margin-bottom: $x * 5px !important;
  }
  .marr_basefive#{$x} {
    margin-right: $x * 5px !important;
  }
  .marl_basefive#{$x} {
    margin-left: $x * 5px !important;
  }
}

.common-button {
  background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
  border: none;
  color: #013ad6;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
}

.common_label {
  font-size: 14px;
  font-weight: bold;
  color: #41faff;
  letter-spacing: 0.7px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
  padding-bottom: 5px;
  width: auto;
  display: block;
}

.common_input{
  border-radius: 28px;
  background: #eeeeee75;
  padding: 0px 10px;
  border: 2px solid #48B822;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  height: 40px;
  width: 100%;
  margin-bottom: 0px;
  box-shadow: 1px 4px #00000017;
}

.common_textarea {
  height: 100px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 1rem;
  resize: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown {
  width: 100%;

  .dropdown-menu.show {
    width: 100%;
    font-weight: bold;
    border-radius: 15px;
    background: #ffffff;

    .dropdown-item {
      padding: .35rem 1rem;
      font-size: 14px;
      font-weight: bold;
      outline: none;

      .roundDropDown {
        padding-right: 60%;
        padding-top: 2%;
        padding-bottom: 3%;
      }
    }

    .dropdown-item:focus {
      color: #000 !important;
      text-decoration: none;
      background-color: #b4f5ee5c !important;
    }

    .dropdown-item:hover {
      color: #000 !important;
      text-decoration: none;
      background-color: #b4f5ee5c !important;
    }
  }

  .dropdown-toggle {
    width: 100%;
    text-align: left;


    .drop_down_icon {
      float: right;
      width: 30px;
      margin-top: -15px;
    }

    .down_icon {
      // filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      display: inline-block;
      /* background: #fff; */
      border-radius: 50%;
      height: 20px;
      width: 15px;
      margin: 0;
      padding-right: 10px;
      font-size: 18px;
      color: #4DB821;
      margin-left: 23px;
      float: right;
      margin-top: -22px;
    }
  }
}


// control page 


.adjustMin {
  padding: 6px 35px;
  color: #013ad6;
  font-weight: bold;
  background: repeating-linear-gradient(152deg, #f9f906bf, #41faffcc);
  margin-right: -5%;
  width: 100px;
}

.showans_btn {
  padding-right: 22px;
  text-align: center;
  margin-bottom: 20px;
}